<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycode.jxzlpj.diaochawenjuan.mapper.WjSetMapper">

    <select id="getWjSetPageList" resultType="com.mycode.jxzlpj.diaochawenjuan.domain.WjSet">
        SELECT j.*
        ,(case when j2.WJ_CODE is not null then 1 else 2 end) isTrue
        FROM DCWJ_SET_WJ j
        LEFT JOIN (
                SELECT DISTINCT WJ_CODE FROM DCWJ WHERE USER_ID = #{userId}
        ) j2 on j2.WJ_CODE = j.WJ_CODE
        ORDER BY isTrue
    </select>

    <select id="getWjSetQ" resultType="com.mycode.jxzlpj.diaochawenjuan.domain.WjSet">
        SELECT *
        FROM DCWJ_SET_Q
        WHERE WJ_CODE = #{wjCode}
        ORDER BY Q_INDEX
    </select>

    <select id="getWjSetOpt" resultType="java.util.Map">
        SELECT * FROM DCWJ_SET_OPT
    </select>

    <select id="getWjInfo" resultType="java.util.Map">
        SELECT Q_CODE,Q_TYPE,Q_OPT
        FROM DCWJ
        where WJ_CODE = #{wjCode} and USER_ID = #{userId}
    </select>

    <insert id="addWjInfo">
        insert all
        <foreach collection="wjSet.qList" index="idx"  item="obj">
            <foreach collection="paramMap" index="key"  item="val">
                <if test="key == obj.qCode">
                    INTO DCWJ (WJ_CODE,Q_CODE,Q_TYPE,Q_OPT,USER_ID,USER_NAME,CREATE_DATE)
                    VALUES(#{wjSet.wjCode,jdbcType=VARCHAR},#{key,jdbcType=VARCHAR},#{obj.qType,jdbcType=VARCHAR},#{val,jdbcType=VARCHAR}
                    ,#{wjSet.userId,jdbcType=VARCHAR},#{wjSet.userName,jdbcType=VARCHAR},CURRENT_DATE)
                </if>
            </foreach>
        </foreach>
        select 1 from dual
    </insert>

</mapper>

