<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycode.jiaoxuejiangcheng.jyjxcgj.mapper.JyjxcgjMapper">

    <resultMap id="objResultMap" type="com.mycode.jiaoxuejiangcheng.jyjxcgj.domian.Jyjxcgj">
        <result column="LEVEL_1" jdbcType="VARCHAR" property="level_1" />
        <result column="LEVEL_2" jdbcType="VARCHAR" property="level_2" />
    </resultMap>

    <select id="getPageList" resultMap="objResultMap">
        <choose>
            <when test="shenHeUserId !=null and shenHeUserId !=''"><!-- 审核列表 -->
                SELECT v.*
                ,(case when  ur.role_id = is_back then '退回' when exec_num >= exec_level then '已审核' else '未审核' end ) shenhe_status
                from (
                    SELECT v.code,v.batch_num
                    ,count(sn.node_code) total_num
                    ,count(item.node_code) exec_num
                    ,max(case when item.status = '退回' then sn.role_id else 0 end ) is_back
                    from V_JXJC_JYJXCGJ_SHENHE v
                    left join COMMON_SHENHE_NODE sn on sn.shenhe_code = v.shenhe_code
                    left join COMMON_SHENHE_ITEM item on item.relation_code = v.code and item.batch_num = v.batch_num and item.node_code = sn.node_code
                    GROUP BY v.code,v.batch_num
                ) t
                left join V_JXJC_JYJXCGJ_SHENHE v on v.code = t.code and v.batch_num = t.batch_num
                left join COMMON_SHENHE_NODE sn on sn.shenhe_code = v.shenhe_code
                left join sys_user_role ur on ur.role_id = sn.role_id
                <where>1=1
                    and exec_num >= exec_level-1 -- 只显示上一级‘已审核’的数据
                    AND 1 != (CASE WHEN sn.exec_level > t.exec_num AND is_back > 0 THEN 1 ELSE 0 END) -- 排除上一级状态值为‘退回’的数据
                    and ur.user_id = #{shenHeUserId}
                    <if test="shenheStatus != null and shenheStatus != ''">
                        <choose>
                            <when test="shenheStatus == '已审核'">
                                and exec_num >= exec_level
                            </when>
                            <when test="shenheStatus == '未审核'">
                                and exec_level > exec_num
                            </when>
                            <when test="shenheStatus == '退回'">
                                and ur.role_id = is_back
                            </when>
                        </choose>
                    </if>
                    <include refid="queryCondition"/>
                </where>
                ORDER BY shenhe_status DESC
            </when>
            <otherwise><!-- 提交列表 -->
                SELECT *
                from V_JXJC_JYJXCGJ v
                <where>1=1
                    <if test="isSubmit != null and isSubmit != ''">
                        <choose>
                            <when test="isSubmit == '已提交'">
                                and shenhe_code is not null
                                and status != '退回'
                            </when>
                            <when test="isSubmit == '未提交'">
                                and (shenhe_code is null or status = '退回')
                            </when>
                            <otherwise>
                                and 1>1
                            </otherwise>
                        </choose>
                    </if>
                    <choose>
                        <when test="status != null and status != '' and status == '待审核'">
                            and shenhe_code is null
                        </when>
                        <when test="status != null and status != ''">
                            and status = #{status}
                        </when>
                    </choose>
                    <include refid="queryCondition"/>
                </where>
                ORDER BY is_submit DESC,create_date DESC
            </otherwise>
        </choose>
    </select>
    <sql id="queryCondition">
        <if test="userId != null and userId != '' and userId !=999999">
            and v.user_id = #{userId}
        </if>
        <if test="userName != null and userName != ''">
            and v.user_name = #{userName}
        </if>
        <if test="objName != null and objName != ''">
            and obj_Name = #{objName}
        </if>
    </sql>

    <select id="getNotShenHeNum" resultType="int">
        SELECT count(0) from (
            SELECT v.code,v.batch_num
            ,count(sn.node_code) total_num
            ,count(item.node_code) exec_num
            ,max(case when item.status = '退回' then sn.role_id else 0 end ) is_back
            from V_JXJC_JYJXCGJ_SHENHE v
            left join COMMON_SHENHE_NODE sn on sn.shenhe_code = v.shenhe_code
            left join COMMON_SHENHE_ITEM item on item.relation_code = v.code and item.batch_num = v.batch_num and item.node_code = sn.node_code
            GROUP BY v.code,v.batch_num
        )t
        left join V_JXJC_JYJXCGJ_SHENHE v on v.code = t.code and v.batch_num = t.batch_num
        left join COMMON_SHENHE_NODE sn on sn.shenhe_code = v.shenhe_code
        left join sys_user_role ur on ur.role_id = sn.role_id
        where 1=1
        and exec_num >= exec_level-1
        AND 1 != (CASE WHEN sn.exec_level > t.exec_num AND is_back > 0 THEN 1 ELSE 0 END)
        AND exec_level > exec_num
        and ur.user_id = #{shenHeUserId}
    </select>

    <insert id="insert">
          insert into JXJC_JYJXCGJ
          (code,obj_name,person_rank,unit_rank,level_1,level_2,prize_time,certificate_code,grant_unit,user_id,user_name,create_date)
          values
          (#{code},#{objName},#{personRank},#{unitRank},#{level_1},#{level_2},#{prizeTime},#{certificateCode},#{grantUnit},#{userId},#{userName},sysdate)
    </insert>

    <update id="update">
        update JXJC_JYJXCGJ
        <set>
            <if test="objName != null and objName != ''">
                obj_name = #{objName}
            </if>
            <if test="personRank != null and personRank != ''">
                , person_rank = #{personRank}
            </if>
            <if test="unitRank != null and unitRank != ''">
                , unit_rank = #{unitRank}
            </if>
            <if test="level_1 != null and level_1 != ''">
                , level_1 = #{level_1}
            </if>
            <if test="level_2 !=null and level_2 !=''">
                , level_2 = #{level_2}
            </if>
            <if test="prizeTime !=null">
                , prize_time = #{prizeTime}
            </if>
            <if test="certificateCode !=null and certificateCode !=''">
                , certificate_code = #{certificateCode}
            </if>
            <if test="grantUnit !=null and grantUnit !=''">
                , grant_unit = #{grantUnit}
            </if>
        </set>
        where code = #{code}
    </update>

    <delete id="delete">
        DELETE FROM JXJC_JYJXCGJ WHERE CODE = #{objCode}
    </delete>

</mapper>