<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycode.shaungchuangjiaoyu.bkssqzl.mapper.BkssqzlMapper">

    <select id="getNotShenHeNum" resultType="int">
        SELECT count(0) from (
            SELECT v.code,v.batch_num
            ,count(sn.node_code) total_num
            ,count(item.node_code) exec_num
            ,max(case when item.status = '退回' then sn.role_id else 0 end ) is_back
            from V_SCJY_BKSSQZL_SHENHE v
            left join COMMON_SHENHE_NODE sn on sn.shenhe_code = v.shenhe_code
            left join COMMON_SHENHE_ITEM item on item.relation_code = v.code and item.batch_num = v.batch_num and item.node_code = sn.node_code
            GROUP BY v.code,v.batch_num
        )t
        left join V_SCJY_BKSSQZL_SHENHE v on v.code = t.code and v.batch_num = t.batch_num
        left join COMMON_SHENHE_NODE sn on sn.shenhe_code = v.shenhe_code
        left join sys_user_role ur on ur.role_id = sn.role_id
        where 1=1
        and exec_num >= exec_level-1
        AND 1 != (CASE WHEN sn.exec_level > t.exec_num AND is_back > 0 THEN 1 ELSE 0 END)
        AND exec_level > exec_num
        and ur.user_id = #{shenHeUserId}
    </select>

    <select id="getPageList" resultType="com.mycode.shaungchuangjiaoyu.bkssqzl.domian.Bkssqzl">
        <choose>
            <when test="shenHeUserId !=null and shenHeUserId !=''"><!-- 审核列表 -->
                select v.code,v.name,type,auth_num,approval_time,owner,is_first_inventor
                ,college,c.name college_name,major,m.name major_name,stu_code,stu_name,v.user_id,v.user_name,v.create_date
                ,v.shenhe_code,v.batch_num,v.status,(case when exec_num >= exec_level then '已审核' else '未审核' end ) shenhe_status
                from (
                    SELECT v.code,v.batch_num
                    ,count(sn.node_code) total_num
                    ,count(item.node_code) exec_num
                    ,max(case when item.status = '退回' then sn.role_id else 0 end ) is_back
                    from V_SCJY_BKSSQZL_SHENHE v
                    left join COMMON_SHENHE_NODE sn on sn.shenhe_code = v.shenhe_code
                    left join COMMON_SHENHE_ITEM item on item.relation_code = v.code and item.batch_num = v.batch_num and item.node_code = sn.node_code
                    GROUP BY v.code,v.batch_num
                ) t
                left join V_SCJY_BKSSQZL_SHENHE v on v.code = t.code and v.batch_num = t.batch_num
                left join COMMON_SHENHE_NODE sn on sn.shenhe_code = v.shenhe_code
                left join sys_user_role ur on ur.role_id = sn.role_id
                left join data_college c on c.code = v.college
                left join data_major m on m.code = v.major
                <where>1=1
                    and exec_num >= exec_level-1 -- 只显示上一级‘已审核’的数据
                    AND 1 != (CASE WHEN sn.exec_level > t.exec_num AND is_back > 0 THEN 1 ELSE 0 END) -- 排除上一级状态值为‘退回’的数据
                    and ur.user_id = #{shenHeUserId}
                    <if test="shenheStatus != null and shenheStatus != ''">
                        <choose>
                            <when test="shenheStatus == '已审核'">
                                and exec_num >= exec_level
                            </when>
                            <when test="shenheStatus == '未审核'">
                                and exec_level > exec_num
                            </when>
                        </choose>
                    </if>
                    <include refid="queryCondition"/>
                </where>
                ORDER BY shenhe_status DESC
            </when>
            <otherwise><!-- 提交列表 -->
                select v.code,v.name,type,auth_num,approval_time,owner,is_first_inventor
                ,college,c.name college_name,major,m.name major_name,stu_code,stu_name,user_id,user_name,create_date
                ,is_submit,shenhe_code,batch_num,status
                from v_scjy_bkssqzl v left join data_college c on c.code = v.college left join data_major m on m.code = v.major
                <where>1=1
                    <if test="isSubmit != null and isSubmit != ''">
                        <choose>
                            <when test="isSubmit == '已提交'">
                                and shenhe_code is not null
                                and status != '退回'
                            </when>
                            <when test="isSubmit == '未提交'">
                                and (shenhe_code is null or status = '退回')
                            </when>
                            <otherwise>
                                and 1>1
                            </otherwise>
                        </choose>
                    </if>
                    <choose>
                        <when test="status != null and status != '' and status == '待审核'">
                            and shenhe_code is null
                        </when>
                        <when test="status != null and status != ''">
                            and status = #{status}
                        </when>
                    </choose>
                    <include refid="queryCondition"/>
                </where>
                ORDER BY is_submit ASC,create_date DESC
            </otherwise>
        </choose>
    </select>
    <sql id="queryCondition">
        <if test="name != null and name != ''">
            and v.name like concat(concat('%',#{name}),'%')
        </if>
        <if test="owner != null and owner != ''">
            and v.owner = #{owner}
        </if>
        <if test="userId != null and userId != '' and userId !=999999">
            and v.user_id = #{userId}
        </if>
        <if test="userName != null and userName != ''">
            and v.user_name = #{userName}
        </if>
    </sql>

    <insert id="insert">
          insert into SCJY_BKSSQZL
          (code,name,type,auth_num,approval_time,owner,is_first_inventor,college,major,stu_code,stu_name,user_id,user_name,create_date)
          values
          (#{code},#{name},#{type},#{authNum},#{approvalTime},#{owner},#{isFirstInventor},#{college},#{major},#{stuCode},#{stuName},#{userId},#{userName},sysdate)
    </insert>

    <update id="update">
        update SCJY_BKSSQZL
        <set>
            <if test="name != null and name != ''">
                name = #{name}
            </if>
            <if test="type != null and type != ''">
                , type = #{type}
            </if>
            <if test="authNum != null and authNum != ''">
                , auth_num = #{authNum}
            </if>
            <if test="approvalTime !=null">
                , approval_time = #{approvalTime}
            </if>
            <if test="owner !=null and owner !=''">
                , owner = #{owner}
            </if>
            <if test="isFirstInventor !=null and isFirstInventor !=''">
                , is_first_inventor = #{isFirstInventor}
            </if>
        </set>
        where code = #{code}
    </update>

    <delete id="delete">
        DELETE FROM SCJY_BKSSQZL WHERE CODE = #{objCode}
    </delete>
</mapper>