<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycode.common.student.mapper.StudentMapper">

    <select id="getStudentInfo" resultType="com.mycode.common.student.domian.Student">
        select relation_code,student_code,student_name
        ,c.name college,m.name major
        ,sorted
        from COMMON_STUDENT s
        left join SYS_DATA_XY c on c.code = s.college
        left join SYS_DATA_ZY m on m.code = s.major
        where relation_code = #{relationCode}
    </select>
    <insert id="addStudentInfo">
        insert into COMMON_STUDENT (relation_code,student_code,student_name,college,major,sorted)
        values (#{relationCode},#{studentCode},#{studentName},#{college},#{major},#{sorted,jdbcType=VARCHAR})
    </insert>
    <delete id="delStudentInfo">
        delete from COMMON_STUDENT
        where relation_code = #{relationCode}
        <if test="studentCode !=null and studentCode !=''">
            and student_code = #{studentCode}
        </if>
    </delete>
</mapper>