<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycode.common.common.mapper.CommonMapper">

    <!--
    SELECT DISTINCT name FROM SYS_DATA_XY;
    SELECT DISTINCT XY_NAME FROM SYS_DATA_KC;
    SELECT DISTINCT XY_NAME FROM SYS_DATA_JS;
    SELECT DISTINCT XY_NAME FROM SYS_DATA_XS;
    -->
    <select id="getXyList" resultType="java.util.Map">
        <choose>
            <when test="dataType == 'xy'">
                SELECT distinct code as "code", name as "name"
                FROM SYS_DATA_XY
                ORDER BY NLSSORT(name,'NLS_SORT = SCHINESE_PINYIN_M')
            </when>
            <when test="dataType == 'kc'">
                SELECT distinct XY_CODE as "code",XY_NAME as "name"
                FROM SYS_DATA_KC
                WHERE XY_CODE IS NOT NULL
                ORDER BY NLSSORT(XY_NAME,'NLS_SORT = SCHINESE_PINYIN_M')
            </when>
            <when test="dataType == 'js'">
                SELECT distinct XY_CODE as "code",XY_NAME as "name"
                FROM SYS_DATA_JS
                WHERE XY_CODE IS NOT NULL
                ORDER BY NLSSORT(XY_NAME,'NLS_SORT = SCHINESE_PINYIN_M')
            </when>
            <when test="dataType == 'xs'">
                SELECT distinct XY_CODE as "code",XY_NAME as "name"
                FROM SYS_DATA_XS
                WHERE XY_CODE IS NOT NULL
                ORDER BY NLSSORT(XY_NAME,'NLS_SORT = SCHINESE_PINYIN_M')
            </when>
        </choose>
    </select>

    <select id="getZyList" resultType="java.util.Map">
        SELECT distinct code as "code", name as "name"
        FROM SYS_DATA_ZY
        <where>1=1
            <if test="xyCode !=null and xyCode !=''">
                and xy_code = #{xyCode}
            </if>
        </where>
        ORDER BY NLSSORT(name,'NLS_SORT = SCHINESE_PINYIN_M')
    </select>

</mapper>