<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycode.jxzlpj.jiaoxuexiaoguo.kczlfxbg.mapper.KczlfxbgMapper">

    <select id="getPageList" resultType="com.mycode.jxzlpj.jiaoxuexiaoguo.kczlfxbg.doman.Kczlfxbg">
        SELECT t1.COURSE_CODE,t1.COURSE_NAME,t1.COURSE_ATTR,t1.XY_NAME,T1.ZY_NAME,xn,XQ, wm_concat(js.user_name) sk_js, t1.sk_bj
        FROM SYS_DATA_KC t1
        LEFT JOIN SYS_DATA_JSRK t2 ON T2.COURSE_CODE = T1.COURSE_CODE
        LEFT JOIN SYS_DATA_JS js on js.user_id = t2.USER_ID
        <where>
            <if test="courseName != null and courseName != ''">
                and t1.COURSE_NAME like concat(concat('%',#{courseName}),'%')
            </if>
        </where>
        GROUP BY t1.COURSE_CODE,t1.COURSE_NAME,t1.COURSE_ATTR,t1.XY_NAME,T1.ZY_NAME,xn,XQ, t1.sk_bj
    </select>

    <insert id="insert">
          insert into JXXG_KCZLFXBG
          (CODE, COURSE_CODE, COURSE_NAME, COURSE_ATTR, XN, XQ, XY_NAME, ZY_NAME, SK_JS, SK_BJ, USER_ID, USER_NAME, CREATE_DATE)
          values
          (#{code},#{courseCode},#{courseName},#{courseAttr},#{xn},#{xq},#{xyName},#{zyName},#{skJs},#{skBj},#{userId},#{userName},CURRENT_DATE)
    </insert>

    <update id="update">
        update JXXG_KCZLFXBG
        <set>
            <if test="courseCode != null and courseCode != ''">
                COURSE_CODE = #{courseCode}
            </if>
            <if test="courseName != null and courseName != ''">
                , COURSE_NAME = #{courseName}
            </if>
            <if test="courseAttr != null and courseAttr != ''">
                , COURSE_ATTR = #{courseAttr}
            </if>
        </set>
        where code = #{code}
    </update>

    <delete id="delete">
        delete from JXXG_KCZLFXBG where code = #{code}
    </delete>

</mapper>