<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycode.jiaoxuexiaoguo.kcxj.mapper.KcxjMapper">

    <select id="getNotShenHeNum" resultType="int">
        SELECT count(0) from (
            SELECT j.code,j.batch_num
            ,count(sn.node_code) total_num
            ,count(item.node_code) exec_num
            ,max(case when item.status = '退回' then sn.role_id else 0 end ) is_back
            from V_JXXG_KCXJ_SHENHE j
            left join COMMON_SHENHE_NODE sn on sn.shenhe_code = j.shenhe_code
            left join COMMON_SHENHE_ITEM item on item.relation_code = j.code and item.batch_num = j.batch_num and item.node_code = sn.node_code
            GROUP BY j.code,j.batch_num
        )t
        left join V_JXXG_KCXJ_SHENHE j on j.code = t.code and j.batch_num = t.batch_num
        left join COMMON_SHENHE_NODE sn on sn.shenhe_code = j.shenhe_code
        left join sys_user_role ur on ur.role_id = sn.role_id
        where 1=1
        and exec_num >= exec_level-1
        AND 1 != (CASE WHEN sn.exec_level > t.exec_num AND is_back > 0 THEN 1 ELSE 0 END)
        AND exec_level > exec_num
        and ur.user_id = #{shenHeUserId}
    </select>

    <select id="getPageList" resultType="com.mycode.jiaoxuexiaoguo.kcxj.domian.Kcxj">
        <choose>
            <when test="shenHeUserId !=null and shenHeUserId !=''"><!-- 审核列表 -->
                SELECT v.*
                ,(case when exec_num >= exec_level then '已审核' else '未审核' end ) shenhe_status
                from (
                SELECT v.code,v.batch_num
                ,count(sn.node_code) total_num
                ,count(item.node_code) exec_num
                ,max(case when item.status = '退回' then sn.role_id else 0 end ) is_back
                from V_JXXG_KCXJ_SHENHE v
                left join COMMON_SHENHE_NODE sn on sn.shenhe_code = v.shenhe_code
                left join COMMON_SHENHE_ITEM item on item.relation_code = v.code and item.batch_num = v.batch_num and item.node_code = sn.node_code
                GROUP BY v.code,v.batch_num
                ) t
                left join V_JXXG_KCXJ_SHENHE v on v.code = t.code and v.batch_num = t.batch_num
                left join COMMON_SHENHE_NODE sn on sn.shenhe_code = v.shenhe_code
                left join sys_user_role ur on ur.role_id = sn.role_id
                <where>1=1
                    and exec_num >= exec_level-1 -- 只显示上一级‘已审核’的数据
                    AND 1 != (CASE WHEN sn.exec_level > t.exec_num AND is_back > 0 THEN 1 ELSE 0 END) -- 排除上一级状态值为‘退回’的数据
                    and ur.user_id = #{shenHeUserId}
                    <if test="shenheStatus != null and shenheStatus != ''">
                        <choose>
                            <when test="shenheStatus == '已审核'">
                                and exec_num >= exec_level
                            </when>
                            <when test="shenheStatus == '未审核'">
                                and exec_level > exec_num
                            </when>
                        </choose>
                    </if>
                    <include refid="queryCondition"/>
                </where>
                ORDER BY shenhe_status DESC
            </when>
            <otherwise><!-- 提交列表 -->
                SELECT *
                from V_JXXG_KCXJ v
                <where>1=1
                    <choose>
                        <when test="status != null and status != '' and status == '待审核'">
                            and shenhe_code is null
                        </when>
                        <when test="status != null and status != ''">
                            and status = #{status}
                        </when>
                    </choose>
                    <include refid="queryCondition"/>
                </where>
            </otherwise>
        </choose>
    </select>
    <sql id="queryCondition">
        <if test="userId != null and userId != '' and userId !=999999">
            and v.user_id = #{userId}
        </if>
        <if test="userName != null and userName != ''">
            and v.user_name = #{userName}
        </if>
        <if test="courseName != null and courseName != ''">
            and COURSE_NAME like concat(concat('%',#{courseName}),'%')
        </if>
    </sql>

    <insert id="insert">
          insert into JXXG_KCXJ
          (code,college,major,course_code,course_name,user_id,user_name,create_date)
          values
          (#{code},#{college},#{major},#{courseCode},#{courseName},#{userId},#{userName},sysdate)
    </insert>

    <update id="update">
        update JXXG_KCXJ
        <set>
            <if test="college != null and college != ''">
                college = #{college}
            </if>
            <if test="major != null and major != ''">
                , major = #{major}
            </if>
            <if test="courseCode != null and courseCode != ''">
                , course_code = #{courseCode}
            </if>
            <if test="courseName != null and courseName != ''">
                , course_name = #{courseName}
            </if>
        </set>
        where code = #{code}
    </update>

    <delete id="delete">
        delete from JXXG_KCXJ where code = #{code}
    </delete>

</mapper>