<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycode.jiaoxuesheji.jiaoan.mapper.JiaoAnMapper">

    <select id="getPageList" resultType="com.mycode.jiaoxuesheji.jiaoan.domian.JiaoAn">
        <choose>
            <when test="shenHeUserId !=null and shenHeUserId !=''"><!-- 审核列表 -->
                SELECT v.*
                ,(case when  ur.role_id = is_back then '退回' when exec_num >= exec_level then '已审核' else '未审核' end ) shenhe_status
                from (
                    SELECT v.code,v.batch_num
                    ,count(sn.node_code) total_num
                    ,count(item.node_code) exec_num
                    ,max(case when item.status = '退回' then sn.role_id else 0 end ) is_back
                    from V_JXSJ_JA_SHENHE v
                    left join COMMON_SHENHE_NODE sn on sn.shenhe_code = v.shenhe_code
                    left join COMMON_SHENHE_ITEM item on item.relation_code = v.code and item.batch_num = v.batch_num and item.node_code = sn.node_code
                    GROUP BY v.code,v.batch_num
                )t
                left join V_JXSJ_JA_SHENHE v on v.code = t.code and v.batch_num = t.batch_num
                left join COMMON_SHENHE_NODE sn on sn.shenhe_code = v.shenhe_code
                left join sys_user_role ur on ur.role_id = sn.role_id
                <where>1=1
                    and exec_num >= exec_level-1
                    AND 1 != (CASE WHEN sn.exec_level > t.exec_num AND is_back > 0 THEN 1 ELSE 0 END)
                    and ur.user_id = #{shenHeUserId}
                    <if test="shenheStatus != null and shenheStatus != ''">
                        <choose>
                            <when test="shenheStatus == '已审核'">
                                and exec_num >= exec_level
                            </when>
                            <when test="shenheStatus == '未审核'">
                                and exec_level > exec_num
                            </when>
                            <when test="shenheStatus == '退回'">
                                and ur.role_id = is_back
                            </when>
                            <otherwise>
                                and 1>1
                            </otherwise>
                        </choose>
                    </if>
                    <include refid="queryCondition"/>
                </where>
                ORDER BY shenhe_status DESC/*,create_date DESC*/
            </when>
            <otherwise><!-- 提交列表 -->
                SELECT *
                from V_JXSJ_JA v
                <where>1=1
                    <if test="isSubmit != null and isSubmit != ''">
                        <choose>
                            <when test="isSubmit == '已提交'">
                                and shenhe_code is not null
                            </when>
                            <when test="isSubmit == '未提交'">
                                and shenhe_code is null
                            </when>
                            <otherwise>
                                and 1>1
                            </otherwise>
                        </choose>
                    </if>
                    <if test="status != null and status != ''">
                        and status = #{status}
                    </if>
                    <include refid="queryCondition"/>
                </where>
                ORDER BY is_submit DESC,create_date DESC
            </otherwise>
        </choose>
    </select>
    <sql id="queryCondition">
        <if test="userId != null and userId != '' and userId !=999999">
            and v.user_id = #{userId}
        </if>
        <if test="userName != null and userName != ''">
            and v.user_name = #{userName}
        </if>
        <if test="courseCode != null and courseCode != ''">
            and course_code = #{courseCode}
        </if>
        <if test="courseName != null and courseName != ''">
            and course_name = #{courseName}
        </if>
    </sql>

    <select id="getNotShenHeNum" resultType="int">
        SELECT count(0)
        from (
            SELECT v.code,v.batch_num
              ,count(sn.node_code) total_num
              ,count(item.node_code) exec_num
              ,max(case when item.status = '退回' then sn.role_id else 0 end ) is_back
            from V_JXSJ_JA_SHENHE v
              left join COMMON_SHENHE_NODE sn on sn.shenhe_code = v.shenhe_code
              left join COMMON_SHENHE_ITEM item on item.relation_code = v.code and item.batch_num = v.batch_num and item.node_code = sn.node_code
            GROUP BY v.code,v.batch_num
        )t
        left join V_JXSJ_JA_SHENHE v on v.code = t.code and v.batch_num = t.batch_num
        left join COMMON_SHENHE_NODE sn on sn.shenhe_code = v.shenhe_code
        left join sys_user_role ur on ur.role_id = sn.role_id
        where 1=1
        and exec_num >= exec_level-1
        AND 1 != (CASE WHEN sn.exec_level > t.exec_num AND is_back > 0 THEN 1 ELSE 0 END)
        AND exec_level > exec_num
        and ur.user_id = #{shenHeUserId}
    </select>

    <insert id="insert">
          insert into JXSJ_JA
          (CODE,COURSE_CODE,COURSE_NAME,TEACH_DATE,TEACH_NUM,TEACH_TOPIC,TEACH_HOUR,TEACH_GOAL,TEACH_CONTENT,TEACH_KEY_AND_DIFFICULT,TEACH_WAY,TEACH_PROCESS,REMARK,USER_ID,USER_NAME,CREATE_DATE)
          values
          (#{code},#{courseCode},#{courseName},#{teachDate},#{teachNum},#{teachTopic},#{teachHour},#{teachGoal},#{teachContent},#{teachKeyAndDifficult},#{teachWay},#{teachProcess},#{remark}
          ,#{userId},#{userName},sysdate)
    </insert>

    <update id="update">
        update JXSJ_JA
        <set>
            <if test="courseCode != null and courseCode != ''">
                COURSE_CODE = #{courseCode}
            </if>
            <if test="courseName != null and courseName != ''">
                , COURSE_NAME = #{courseName}
            </if>
            <if test="teachDate != null">
                , TEACH_DATE = #{teachDate}
            </if>
            <if test="teachNum != null and teachNum != ''">
                , TEACH_NUM = #{teachNum}
            </if>
            <if test="teachTopic != null and teachTopic != ''">
                , TEACH_TOPIC = #{teachTopic}
            </if>
            <if test="teachHour != null and teachHour != ''">
                , TEACH_HOUR = #{teachHour}
            </if>
            <if test="teachGoal != null">
                , TEACH_GOAL = #{teachGoal}
            </if>
            <if test="teachContent != null">
                , TEACH_CONTENT = #{teachContent}
            </if>
            <if test="teachKeyAndDifficult != null">
                , TEACH_KEY_AND_DIFFICULT = #{teachKeyAndDifficult}
            </if>
            <if test="teachWay != null">
                , TEACH_WAY = #{teachWay}
            </if>
            <if test="teachProcess != null">
                , TEACH_PROCESS = #{teachProcess}
            </if>
            <if test="remark != null">
                , REMARK = #{remark}
            </if>
        </set>
        where code = #{code}
    </update>

    <update id="batchSubimt">
        insert all
        <foreach collection ="jiaoAnList" item="obj" index= "idx">
            into COMMON_SHENHE
            (shenhe_code,relation_code,batch_num,status,user_id,user_name,create_date)
            values
            ( #{obj.shenheCode},#{obj.code},#{obj.batchNum},#{obj.status},#{obj.userId},#{obj.userName},sysdate)
        </foreach>
        select 1 from dual
    </update>

    <select id="getShenheNode" resultType="com.mycode.common.shenhe.domain.ShenHeNode">
        SELECT sn.*
        from V_JXSJ_JA_SHENHE j
        LEFT JOIN COMMON_SHENHE_NODE sn ON sn.shenhe_code = j.shenhe_code
        LEFT JOIN sys_user_role ur ON ur.role_id = sn.role_id
        where code = #{relationCode} and ur.user_id = #{userId}
    </select>

    <select id="isShenhePass" resultType="int">
        SELECT (case when total_num = exec_num then 1 else 0 end) isPass
        from (
            SELECT j.code,j.batch_num
            ,count(sn.node_code) total_num
            ,count(item.node_code) exec_num
            from V_JXSJ_JA_SHENHE j
            left join COMMON_SHENHE_NODE sn on sn.shenhe_code = j.shenhe_code
            left join COMMON_SHENHE_ITEM item on item.relation_code = j.code and item.batch_num = j.batch_num and item.node_code = sn.node_code
            WHERE j.code = #{relationCode} and j.batch_num = #{batchNum}
            GROUP BY j.code,j.batch_num
        )t
    </select>
</mapper>