<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycode.jiaoxuesheji.skjh.mapper.SkjhMapper">

    <select id="getNotShenHeNum" resultType="int">
        select 0 from dual
    </select>

    <select id="getShenHePageList" resultType="com.mycode.jiaoxuesheji.skjh.domian.Skjh">
        select null from dual
    </select>

    <select id="getPageList" resultType="com.mycode.jiaoxuesheji.skjh.domian.Skjh">
        SELECT j.*
        ,(case when sh.shenhe_code is not null and sh.status !='退回' then '已提交' else '未提交' end ) is_submit
        ,sh.shenhe_code,sh.batch_num,sh.status
        from (
            SELECT code,c.*,MAIN_TEACHER,TEACH_CLASS,j.USER_ID,j.USER_name,j.create_date
            FROM DATA_TEACHER_COURSE dtc LEFT JOIN DATA_COURSE c on c.COURSE_CODE = DTC.COURSE_CODE
            LEFT JOIN JXSJ_SKJH j on j.COURSE_CODE = dtc.COURSE_CODE and j.user_id = dtc.user_id
            where dtc.USER_ID = #{userId} /*or userId = 999999*/
        ) j
        LEFT JOIN (
            SELECT code,MAX(BATCH_NUM) BATCH_NUM
            from JXSJ_SKJH j
            LEFT JOIN COMMON_SHENHE sh on sh.relation_code = j.code
            GROUP BY code
        ) t on t.code = j.code LEFT JOIN COMMON_SHENHE sh on sh.RELATION_CODE = t.code and sh.BATCH_NUM = t.BATCH_NUM
        <where>1=1
            <choose>
                <when test="status != null and status != '' and status == '待审核'">
                    and shenhe_code is null
                </when>
                <when test="status != null and status != ''">
                    and status = #{status}
                </when>
            </choose>
            <include refid="queryCondition"/>
        </where>
    </select>
    <sql id="queryCondition">
        <if test="courseName != null and courseName != ''">
            and course_name like concat(concat('%',#{courseName}),'%')
        </if>
    </sql>

    <select id="getSkJhInfoByCode" resultType="com.mycode.jiaoxuesheji.skjh.domian.Skjh">
        SELECT * from JXSJ_SKJH where code  = #{code}
    </select>

    <insert id="insert">
        insert into JXSJ_SKJH (code,course_code,main_teacher,teach_class,user_id,user_name,create_date)
        values (#{code},#{courseCode},#{mainTeacher},#{teachClass},#{userId},#{userName},CURRENT_DATE)
    </insert>

    <update id="update">
        update JXSJ_SKJH
        <set>
            <if test="mainTeacher != null and mainTeacher != ''">
                main_teacher = #{mainTeacher}
            </if>
            <if test="teachClass != null and teachClass != ''">
                , teach_class = #{teachClass}
            </if>
        </set>
        where code = #{code}
    </update>

    <delete id="delete">
        delete from JXSJ_SKJH where code = #{code}
    </delete>

    <select id="getSkjhItemList" resultType="com.mycode.jiaoxuesheji.skjh.domian.SkjhItem">
        select * from jxsj_skjh_item where relation_code = #{relationCode}
    </select>

    <insert id="insertSkjhItem">
          INSERT INTO JXSJ_SKJH_ITEM
          (RELATION_CODE,ITEM_CODE,WEEK,WEEK_NUM,dates,LESSON_NUM,LESSON_HOUR,TEACHER,TEACH_CHAPTER,TEACH_ADDR,JX_DESIGN,SZ_ELEMENT)
          VALUES
          (#{code},#{itemCode},#{week},#{weekNum},#{dates},#{lessonNum},#{lessonHour},#{teacher},#{teachChapter},#{teachAddr},#{jxDesign},#{szElement})
    </insert>

    <delete id="deleteSkjhItem">
         delete from jxsj_skjh_item
         <where>1>1
             <if test="relationCode !=null and relationCode!=''">
                 or relation_code = #{relationCode}
             </if>
             <if test="itemCode !=null and itemCode!=''">
                or item_code = #{itemCode}
             </if>
         </where>
    </delete>

</mapper>