<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycode.system.menu.mapper.MenuMapper">

    <select id="getMenuTree" resultType="com.mycode.system.menu.domain.Menu">
        select pid,menu_id,menu_id id,menu_name,menu_name title,url,icon
        from sys_menu
        order by MENU_ID
    </select>

    <select id="getParentMenuList" resultType="com.mycode.system.menu.domain.Menu">
        <choose>
            <when test="menuId != null and menuId != ''">
                select menu_id, menu_name
                from sys_menu
                WHERE pid = #{menuId}
            </when>
            <otherwise>
                select menu_id, menu_name
                from sys_menu
                WHERE menu_name in ('教学研究','教学设计','教学效果','教学奖惩','双创教育')
            </otherwise>
        </choose>
    </select>

    <select id="getChildMenuList" resultType="com.mycode.system.menu.domain.Menu">
        select menu_id, menu_name
        from sys_menu
        WHERE pid in (
          SELECT menu_id from sys_menu WHERE menu_name in ('教学研究','教学设计','教学效果','教学奖惩','双创教育')
        ) and menu_name not in ('提交','审核')
    </select>

    <select id="getShenHeSetEditFormMenuTree" resultType="java.util.Map">
        <choose>
            <when test="menuId != null and menuId != ''">
                select menu_id as "id", menu_name as "name"
                from sys_menu
                WHERE pid = #{menuId} and menu_name not in ('提交','审核')
            </when>
            <otherwise>
                select menu_id as "id", menu_name as "name"
                from sys_menu
                WHERE pid in (
                    SELECT menu_id from sys_menu WHERE menu_name in ('教学研究','教学设计','教学效果','教学奖惩','双创教育')
                ) and menu_name not in ('提交','审核')
            </otherwise>
        </choose>
    </select>

    <select id="getRoleListByMenuId" resultType="com.mycode.system.role.domain.Role">
        SELECT r.role_id,r.role_name
        FROM sys_role_menu rm LEFT JOIN sys_role r ON r.role_id = rm.role_id
        WHERE rm.menu_id = (
            SELECT menu_id FROM sys_menu WHERE menu_name = '审核' AND pid = #{menuId}
        )
        and r.role_id not in(1,2,3)
    </select>
</mapper>

