<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycode.common.teacher.mapper.TeacherMapper">

    <select id="getTeacherInfo" resultType="com.mycode.common.teacher.domain.Teacher">
        select * from COMMON_TEACHER where relation_code = #{relationCode}
    </select>

    <insert id="addTeacherInfo">
        insert into COMMON_TEACHER (relation_code,teacher_code,teacher_name,teacher_unit)
        values (#{relationCode},#{teacherCode},#{teacherName},#{teacherUnit})
    </insert>

    <delete id="delTeacherInfo">
        delete from COMMON_TEACHER
        where relation_code = #{relationCode}
        <if test="teacherCode !=null and teacherCode !=''">
            and teacher_code = #{teacherCode}
        </if>
    </delete>
</mapper>