<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycode.commonset.optionSet.mapper.OptionSetMapper">

    <!-- OptionSet -->
    <select id="getOptionSetMenuList" resultType="java.util.Map">
        SELECT M2.MENU_ID,M2.MENU_NAME
        FROM COMMON_OPTION_SET_MENU M1
        LEFT JOIN SYS_MENU M2 ON M2.MENU_ID = M1.MENU_ID
        <where> 1=1
            <choose>
                <when test="pid != null and pid != ''">
                    and PID  = #{pid}
                </when>
                <otherwise>
                    and PID IS NULL
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="getOptionSetList" resultType="java.util.Map">
        SELECT t2.*
        FROM COMMON_OPTION_SET t1
        LEFT JOIN COMMON_OPTION_SET_OPTION t2 on t2.CODE = T1.OPTION_CODE
        WHERE MENU_ID = #{menuId}
    </select>
    <insert id="addOptionSet">
        INSERT INTO COMMON_OPTION_SET (MENU_ID,OPTION_CODE) VALUES (#{menuId},#{optionCode})
    </insert>
    <delete id="delOptionSet">
        DELETE FROM COMMON_OPTION_SET where MENU_ID = #{menuId} and OPTION_CODE = #{optionCode}
    </delete>

    <!-- Option -->
    <select id="getOptionPageList" resultType="java.util.Map">
        SELECT * FROM COMMON_OPTION_SET_OPTION
    </select>
    <select id="getOption" resultType="java.util.Map">
        SELECT * FROM COMMON_OPTION_SET_OPTION WHERE NAME = #{name}
    </select>
    <insert id="insertOption">
        INSERT INTO COMMON_OPTION_SET_OPTION (CODE,NAME) VALUES (#{code},#{name})
    </insert>
    <update id="updateOption">
        UPDATE COMMON_OPTION_SET_OPTION SET NAME = #{name} WHERE CODE = #{code}
    </update>
    <delete id="deleteOption">
        DELETE FROM COMMON_OPTION_SET_OPTION where CODE = #{code}
    </delete>
</mapper>