<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycode.jiaoxuepingjia.pjset.mapper.PjSetMapper">

    <select id="getPjSetList" resultType="com.mycode.jiaoxuepingjia.pjset.domain.PjSet">
        select pjset.*,tmp.TEMPLATE_NAME
        from JXPJ_PJSET pjset LEFT JOIN JXPJ_PJSET_TEMPLATE tmp on tmp.TEMPLATE_CODE = pjset.TEMPLATE_CODE
    </select>

    <select id="getPjSetTemplateList" resultType="com.mycode.jiaoxuepingjia.pjset.domain.PjSetTemplate">
        select * from JXPJ_PJSET_TEMPLATE
    </select>

    <select id="getPjSetTargetList" resultType="com.mycode.jiaoxuepingjia.pjset.domain.PjSetTarget">
        select * from JXPJ_PJSET_TARGET
    </select>

    <!-- 查看当前是否有可用的学生评教模板信息-->
    <select id="isPj" resultType="java.lang.String">
        select template_code
        from jxpj_pjset
        where end_date > sysdate
    </select>
    <!-- 根据模板编号获取学生评教模板信息 -->
    <select id="getPjSetTargetListByTemplateCode" resultType="com.mycode.jiaoxuepingjia.pjset.domain.PjSetTarget">
        select t.*
        from jxpj_pjset_template_target tt left join jxpj_pjset_target t on t.target_code = tt.target_code
        where tt.template_code = #{templateCode}
    </select>
</mapper>