<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycode.jiaoxuepingjia.pjset.mapper.PjSetMapper">

    <!-- 查看当前是否有可用的模板信息 -->
    <select id="getActiveTemplateCode" resultType="java.lang.String">
        select template_code
        from JXPJ_PJSET_TEMPLATE
        where template_type = #{templateType} and end_date > current_date
    </select>

    <!-- 模板&指标操作 -->
    <select id="getPjSetTargetListByTemplateCode" resultType="com.mycode.jiaoxuepingjia.pjset.domain.PjSetTarget">
        select tt.TEMPLATE_CODE,t.*
        from jxpj_pjset_template_target tt left join jxpj_pjset_target t on t.target_code = tt.target_code
        where tt.template_code = #{templateCode}
    </select>
    <insert id="insertTemplateTarget">
        insert all
        <foreach collection="targetCodes" index="idx"  item="targetCode">
            into JXPJ_PJSET_TEMPLATE_TARGET (TEMPLATE_CODE,TARGET_CODE)
            values (#{templateCode},#{targetCode})
        </foreach>
        select 1 from dual
    </insert>
    <delete id="deleteTemplateTargetByTemplateCode">
        delete from JXPJ_PJSET_TEMPLATE_TARGET where TEMPLATE_CODE = #{templateCode}
    </delete>

    <!--模板-->
    <select id="getPjSetTemplateList" resultType="com.mycode.jiaoxuepingjia.pjset.domain.PjSetTemplate">
        /*select t.*
        ,(case when th.TEMPLATE_CODE is not null or XS.TEMPLATE_CODE is not null then 1 else 2 end) is_active
        from JXPJ_PJSET_TEMPLATE t
        LEFT JOIN (SELECT DISTINCT TEMPLATE_CODE FROM JXPJ_THPJ_ITEM) th on th.TEMPLATE_CODE = t.TEMPLATE_CODE
        LEFT JOIN (SELECT DISTINCT TEMPLATE_CODE FROM JXPJ_XSPJ) xs on XS.TEMPLATE_CODE = t.TEMPLATE_CODE*/
        select t.*
        ,(case when end_date > current_date then 1 else 2 end) is_active
        from JXPJ_PJSET_TEMPLATE t
    </select>
    <insert id="insertTemplate">
        insert into JXPJ_PJSET_TEMPLATE (TEMPLATE_CODE, TEMPLATE_TYPE, TEMPLATE_NAME, START_DATE, END_DATE, CREATE_DATE)
        values (#{templateCode},#{templateType,jdbcType=VARCHAR},#{templateName,jdbcType=VARCHAR},#{startDate,jdbcType=TIMESTAMP},#{endDate,jdbcType=TIMESTAMP},CURRENT_DATE)
    </insert>
    <update id="updateTemplate">
        update JXPJ_PJSET_TEMPLATE
        <set>
            <if test="templateType != null and templateType != ''">
                TEMPLATE_TYPE = #{templateType}
            </if>
            <if test="templateName != null and templateName != ''">
                , TEMPLATE_NAME = #{templateName}
            </if>
            <if test="startDate != null">
                , START_DATE = #{startDate}
            </if>
            <if test="endDate != null">
                , END_DATE = #{endDate}
            </if>
        </set>
        where TEMPLATE_CODE = #{templateCode}
    </update>
    <delete id="deleteTemplate">
        begin
        DELETE FROM JXPJ_PJSET_TEMPLATE WHERE TEMPLATE_CODE = #{templateCode};
        delete from JXPJ_PJSET_TEMPLATE_TARGET where TEMPLATE_CODE = #{templateCode};
        end;
    </delete>

    <!--指标-->
    <select id="getPjSetTargetList" resultType="com.mycode.jiaoxuepingjia.pjset.domain.PjSetTarget">
        select t.*
        ,(case when tt.template_code is not null then 1 else 2 end) is_bind_template
        from JXPJ_PJSET_TARGET t LEFT JOIN JXPJ_PJSET_TEMPLATE_TARGET tt on tt.target_code = t.target_code
        <where>1=1
            <if test="targetType !=null and targetType !=''">
                and TARGET_TYPE = #{targetType}
            </if>
        </where>
    </select>
    <insert id="insertTarget">
        insert into JXPJ_PJSET_TARGET (TARGET_CODE, TARGET_TYPE, TARGET_NAME, TARGET_CONTENT, TARGET_SCORE, CREATE_DATE)
        VALUES (#{targetCode},#{targetType},#{targetName,jdbcType=VARCHAR},#{targetContent},#{targetScore},CURRENT_DATE)
    </insert>
    <update id="updateTarget">
        update JXPJ_PJSET_TARGET
        <set>
            <if test="targetType != null and targetType != ''">
                TARGET_TYPE = #{targetType}
            </if>
            <if test="targetName != null and targetName != ''">
                , TARGET_NAME = #{targetName}
            </if>
            <if test="targetContent != null and targetContent != ''">
                , TARGET_CONTENT = #{targetContent}
            </if>
            <if test="targetScore != null">
                , TARGET_SCORE = #{targetScore}
            </if>
        </set>
        where TARGET_CODE = #{targetCode}
    </update>
    <delete id="deleteTarget">
        DELETE FROM JXPJ_PJSET_TARGET WHERE TARGET_CODE = #{targetCode}
    </delete>

</mapper>