<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycode.jiaoxuepingjia.thpj.mapper.ThpjMapper">

    <select id="getPageList" resultType="com.mycode.jiaoxuepingjia.thpj.domian.ThpjQuery">
        SELECT t.CODE teacher_code,t.name teacher,t.MAJOR_NAME teacher_major,t.COLLEGE_NAME teacher_college
        ,c.course_code,c.course_name,c.course_attr
        ,(case when th.code is not null then 1 else 2 end) is_pj
        ,th.code as pj_code
        FROM DATA_TEACHER_COURSE tc
        LEFT JOIN DATA_TEACHER t on t.CODE = TC.USER_ID
        LEFT JOIN DATA_COURSE c on c.course_code = tc.course_code
        LEFT JOIN JXPJ_THPJ th on teacher_CODE = TC.USER_ID and th.course_code = tc.course_code
        <where>1=1
            <if test="teacherCollege !=null and teacherCollege !=''">
                and t.COLLEGE_NAME = #{teacherCollege}
            </if>
            <if test="teacherMajor !=null and teacherMajor !=''">
                and t.MAJOR_NAME = #{teacherMajor}
            </if>
            <if test="teacher !=null and teacher !=''">
                and t.name = #{teacher}
            </if>
            <if test="teacherAge !=null and teacherAge !=''">
                  <choose>
                      <when test="teacherAge == '55岁及以上'">
                          and t.age >= 55
                      </when>
                      <when test="teacherAge == '45-54岁'">
                          and t.age BETWEEN 45 and 54
                      </when>
                      <when test="teacherAge == '35-44岁'">
                          and t.age BETWEEN 35 and 44
                      </when>
                      <when test="teacherAge == '34岁及以下'">
                          and t.age &lt;= 34
                      </when>
                  </choose>
            </if>
            <if test="teacherTitle !=null and teacherTitle !=''">
                and t.title = #{teacherTitle}
            </if>
            <if test="courseName !=null and courseName !=''">
                and c.course_name like concat(concat('%',#{courseName}),'%')
            </if>
            <if test="courseAttr !=null and courseAttr !=''">
                and c.course_attr = #{courseAttr}
            </if>
            <!--<if test="teachDate !=null and teachDate !=''">
                and jh.dates = to_date(#{teachDate}, 'yyyy-MM-dd')
            </if>
            <if test="teachAddr !=null and teachAddr !=''">
                and jh.teach_addr = #{teachAddr}
            </if>-->
        </where>
    </select>

    <select id="getThpjInfo" resultType="com.mycode.jiaoxuepingjia.thpj.domian.Thpj">
        SELECT * FROM JXPJ_THPJ where CODE = #{code}
    </select>
    <select id="getThpjItemListByRelationCode" resultType="java.util.Map">
        select NVL(TARGET_CODE,'totalScore') as "targetCode"
        ,sum(ANSWER) as "answer"
        from JXPJ_THPJ_ITEM
        where RELATION_CODE = #{relationCode}
        GROUP BY rollup(TARGET_CODE)
    </select>

    <insert id="insert">
        insert into JXPJ_THPJ
        (CODE, TEMPLATE_CODE, TEACHER_CODE, TEACHER, TEACHER_COLLEGE, COURSE_CODE, COURSE_NAME, COURSE_ATTR, STU_CLASS
        , TEACH_YEAR, TEACH_MONTH, TEACH_DAY, TEACH_WEEKNUM, TEACH_WEEK, TEACH_LESSONNUM, TEACH_HOUSE, TEACH_CLASSROOM
        , STU_YINGDAO, STU_SHIDAO, STU_CHIDAO, STU_QUEKE
        , DP_TEACHER, DP_STUDENT, DP_CLASSROOM
        , USER_ID, USER_NAME, CREATE_DATE)
        values
        (
        #{code},#{templateCode},#{teacherCode},#{teacher},#{teacherCollege},#{courseCode},#{courseName},#{courseAttr},#{stuClass}
        ,#{teachYear},#{teachMonth},#{teachDay},#{teachWeekNum},#{teachWeek},#{teachLessonNum},#{teachHouse},#{teachClassroom}
        ,#{stuYingdao},#{stuShidao},#{stuChidao},#{stuQueke},#{dpTeacher},#{dpStudent},#{dpClassroom}
        ,#{userId},#{userName},CURRENT_DATE
        )
    </insert>
    <insert id="insertTarget">
        insert all
        <foreach collection="pjSetTargetList" index="idx" item="obj">
            <foreach collection="paramMap" index="key"  item="val">
                <if test="key == obj.targetCode">
                    INTO JXPJ_THPJ_ITEM(RELATION_CODE,TARGET_CODE,ANSWER)
                    VALUES (#{relationCode},#{key,jdbcType=VARCHAR},#{val,jdbcType=VARCHAR})
                </if>
            </foreach>
        </foreach>
        select 1 from dual
    </insert>

</mapper>