<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycode.jiaoxuepingjia.thpj.mapper.ThpjMapper">

    <select id="getPageList" resultType="com.mycode.jiaoxuepingjia.thpj.domian.ThpjQuery">
        SELECT c.course_code,c.course_name,c.course_type
        ,t.name teacher,t.MAJOR_NAME teacher_major,t.COLLEGE_NAME teacher_college
        ,jh.dates teach_date,jh.teach_addr
        FROM DATA_TEACHER_COURSE tc
        LEFT JOIN DATA_TEACHER t on t.CODE = TC.USER_ID
        LEFT JOIN DATA_COURSE c on c.course_code = tc.course_code
        LEFT JOIN (
            SELECT * FROM JXSJ_SKJH jh LEFT JOIN JXSJ_SKJH_ITEM it on it.relation_code = jh.code
        ) jh on jh.course_code = c.course_code and jh.teacher = t.name
        <where>1=1
            <if test="teacherCollege !=null and teacherCollege !=''">
                and t.COLLEGE_NAME = #{teacherCollege}
            </if>
            <if test="teacherMajor !=null and teacherMajor !=''">
                and t.MAJOR_NAME = #{teacherMajor}
            </if>
            <if test="teacher !=null and teacher !=''">
                and t.name = #{teacher}
            </if>
            <if test="teacherAge !=null and teacherAge !=''">
                  <choose>
                      <when test="teacherAge == '55岁及以上'">
                          and t.age >= 55
                      </when>
                      <when test="teacherAge == '45-54岁'">
                          and t.age BETWEEN 45 and 54
                      </when>
                      <when test="teacherAge == '35-44岁'">
                          and t.age BETWEEN 35 and 44
                      </when>
                      <when test="teacherAge == '34岁及以下'">
                          and t.age &lt;= 34
                      </when>
                  </choose>
            </if>
            <if test="teacherTitle !=null and teacherTitle !=''">
                and t.title = #{teacherTitle}
            </if>
            <if test="courseName !=null and courseName !=''">
                and c.course_name like concat(concat('%',#{courseName}),'%')
            </if>
            <if test="courseType !=null and courseType !=''">
                and c.course_type = #{courseType}
            </if>
            <if test="teachDate !=null and teachDate !=''">
                and jh.dates = to_date(#{teachDate}, 'yyyy-MM-dd')
            </if>
        </where>
    </select>

    <!--
    返回值：name 指标名称
        num 指标名称关联的指标项个数
        score 指标名称关联的指标项分数合计
    最后按照‘一二三...’排序。
    -->
    <select id="getThpjTargetList" resultType="java.util.Map">
        SELECT TARGET_NAME as "name",count(0) as "num",sum(TARGET_SCORE) as "score"
        FROM JXPJ_PJSET_TARGET
        where TARGET_TYPE = '同行评教'
        GROUP BY TARGET_NAME
        order by decode(SUBSTR(TARGET_NAME, 0, 1),'一',1,'二',2,'三',3,'四',4,'五',5,'六',6,'七',7,'八',8,'九',9,'零',0)
    </select>
    <select id="getPjSetTargetList" resultType="com.mycode.jiaoxuepingjia.pjset.domain.PjSetTarget">
        SELECT * FROM JXPJ_PJSET_TARGET where TARGET_TYPE = '同行评教'
    </select>

    <insert id="insert">
          insert into JXPJ_THPJ
          (code,test_name,remark,user_id,user_name,create_date)
          values
          (TRUNC(dbms_random.value(1000000000000000,9999999999999999)),#{testName},#{remark},#{userId},#{userName},sysdate)
    </insert>

    <update id="update">
        update JXPJ_THPJ
        <set>
            <if test="testName != null and testName != ''">
                test_name = #{testName}
            </if>
            <if test="remark != null">
                , remark = #{remark}
            </if>
        </set>
        where code = #{code}
    </update>

    <delete id="delete">
        delete from JXPJ_THPJ where code = #{code}
    </delete>

</mapper>