<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycode.jiaoxuepingjia.xspj.mapper.XspjMapper">

    <select id="getPageList" resultType="com.mycode.jiaoxuepingjia.xspj.domain.Xspj">
        SELECT c.COURSE_CODE,c.COURSE_NAME,t.teacher_Names
        ,(case when pj.COURSE_CODE is not null then 1 else 2 end) is_Pj
        FROM DATA_STUDENT_COURSE sc
        LEFT JOIN DATA_COURSE c on c.COURSE_CODE = sc.COURSE_CODE
        LEFT JOIN (
                SELECT COURSE_CODE,wm_concat(DISTINCT teacher) teacher_Names
                FROM JXSJ_SKJH jh
                LEFT JOIN JXSJ_SKJH_ITEM it on it.relation_code = jh.code
                GROUP BY COURSE_CODE
        ) t on t.COURSE_CODE = sc.COURSE_CODE
        LEFT JOIN (
            SELECT DISTINCT COURSE_CODE,user_id FROM JXPJ_XSPJ
        ) pj on pj.COURSE_CODE = sc.COURSE_CODE and pj.user_id = sc.STUDENT_CODE
        WHERE STUDENT_CODE = #{userId}
    </select>

    <insert id="insert">
        insert all
        <foreach collection="paramMap" index="key"  item="val">
            INTO JXPJ_XSPJ (COURSE_CODE,TEMPLATE_CODE,TARGET_CODE,ANSWER,USER_ID,USER_NAME,CREATE_DATE)
            VALUES(#{xspj.courseCode,jdbcType=VARCHAR},#{templateCode,jdbcType=VARCHAR},#{key,jdbcType=VARCHAR},#{val,jdbcType=VARCHAR}
            ,#{xspj.userId,jdbcType=VARCHAR},#{xspj.userName,jdbcType=VARCHAR},CURRENT_DATE)
        </foreach>
        select 1 from dual
    </insert>
</mapper>