<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycode.commonset.shenheSet.mapper.ShenHeMapper">

    <select id="getShenHeSetPageList" resultType="com.mycode.commonset.shenheSet.domain.ShenHeSet">
        select sh.*
        ,m.menu_name
        ,shenheProcess
        ,(case when cs.shenhe_code is null then 1 else 0 end) is_delete /*数据状态，是否可以执行删除操作,可选值【0-不可删除，1可以删除】*/
        from COMMON_SHENHE_SET sh
        LEFT JOIN sys_menu m on m.menu_id = sh.menu_id
        LEFT JOIN (
            SELECT SHENHE_CODE,listagg(role_name,'>') within group(order by exec_level) shenheProcess
            FROM COMMON_SHENHE_NODE sn
            LEFT JOIN sys_role r ON r.role_id = sn.role_id
            GROUP BY SHENHE_CODE
        ) csn on csn.shenhe_code = sh.shenhe_code
        LEFT JOIN (SELECT DISTINCT shenhe_code from COMMON_SHENHE) cs on cs.shenhe_code = sh.shenhe_code
        <where>
            <if test="parentMenuId != null and parentMenuId != ''">
                and m.pid = #{parentMenuId}
            </if>
            <if test="menuId != null and menuId != ''">
                and m.menu_id = #{menuId}
            </if>
        </where>
        ORDER BY sh.create_date
    </select>

    <insert id="addShenheSet">
        insert into COMMON_SHENHE_SET
        (menu_id,shenhe_code,shenhe_name,shenhe_desc,status,create_date)
        values
        (#{menuId},#{shenheCode},#{shenheName},#{shenheDesc},1,CURRENT_DATE)
    </insert>

    <update id="updateShenheSetByCode">
        update COMMON_SHENHE_SET
        <set>
            <if test="shenheName != null and shenheName != ''">
                shenhe_name = #{shenheName}
            </if>
            <if test="shenheDesc != null and shenheDesc != ''">
                , shenhe_desc = #{shenheDesc}
            </if>
        </set>
        where shenhe_code = #{shenheCode}
    </update>

    <delete id="batchDeleteShenHeSet">
        <if test="codeArr !=null and codeArr.length >0" >
            begin
            <foreach collection="codeArr" index="idx" item="code">
                delete from COMMON_SHENHE_SET where shenhe_code = #{code};
                delete from COMMON_SHENHE_NODE where shenhe_code = #{code};
            </foreach>
            end;
        </if>
    </delete>

</mapper>

