<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycode.jxzlpj.jiaoxuepingjia.xspj.mapper.XspjMapper">

    <select id="getPageList" resultType="com.mycode.jxzlpj.jiaoxuepingjia.xspj.domain.Xspj">
        <choose>
            <when test="accountType == 'student'">
                SELECT DISTINCT T2.xn,T2.xq,T2.COURSE_CODE,T2.COURSE_name
                ,(case when pj.code is not null then 1 else 2 end) isPj,  pj_suggest
                FROM SYS_DATA_XSXK T1
                LEFT JOIN SYS_DATA_KC T2 ON T2.COURSE_CODE = T1.COURSE_CODE and T2.xn = T1.xn and T2.xq = T1.xq and (t2.skbj_code = t1.bh or t2.skbj_code is null)
                LEFT JOIN jxpj_xspj_dfpj pj on pj.xn = T2.xn and pj.xq = T2.xq and pj.COURSE_CODE = T2.COURSE_CODE /*and pj.SKJS_CODE = T2.SKJS_CODE*/ and pj.user_id = T1.USER_ID
                WHERE T1.USER_ID = #{userId}
            </when>
            <otherwise>
                SELECT DISTINCT T2.xn,T2.xq,T2.COURSE_CODE,T2.COURSE_name
                ,(case when pj.COURSE_CODE is not null then 1 else 2 end) isPj
                FROM SYS_DATA_JSRK T1
                LEFT JOIN SYS_DATA_KC T2 on T2.SKJS_CODE = T1.USER_ID AND T2.COURSE_CODE = T1.COURSE_CODE and T2.XN = T1.XN AND T2.XQ = T1.XQ
                LEFT JOIN JXPJ_XSPJ_DFPJ pj on pj.xn = T2.xn and pj.xq = T2.xq and pj.COURSE_CODE = T2.COURSE_CODE
                where 1=1
                <if test="accountType == 'teacher'">
                    and T1.USER_ID = #{userId}
                </if>
            </otherwise>
        </choose>
        <if test="xn != null and xn != ''">/*学年*/
            and T1.XN = #{xn}
        </if>
        <if test="xq != null and xq != ''">/*学期*/
            and T1.XQ = #{xq}
        </if>
        <if test="courseName != null and courseName != ''">/*课程名称*/
            and T2.COURSE_NAME like concat(concat('%',#{courseName}),'%')
        </if>
        <if test="isPj != null and isPj != ''">/*评教状态*/
            <if test="isPj == 1">
                and pj.code is not null
            </if>
            <if test="isPj == 2">
                and pj.code is null
            </if>
        </if>
    </select>

    <insert id="insert">
        insert into JXPJ_XSPJ_DFPJ (CODE, XN, XQ, COURSE_CODE, SKJS_CODE, PJ_SUGGEST, USER_ID, USER_NAME, CREATE_DATE)
        values (#{code},#{xn},#{xq},#{courseCode},#{skjsCode},#{pjSuggest},#{userId},#{userName},CURRENT_DATE)
    </insert>
    <insert id="insertItem">
        insert all
        <foreach collection="paramMap" index="key"  item="val">
            into JXPJ_XSPJ_DFPJ_ITEM (RELATION_CODE, TEMPLATE_CODE, TARGET_CODE, SELECTED)
            VALUES(#{xspj.code},#{xspj.templateCode},#{key,jdbcType=VARCHAR},#{val,jdbcType=VARCHAR})
        </foreach>
        select 1 from dual
    </insert>

    <select id="getPjInfo" resultType="java.util.Map">
        select count(distinct code) as "pjNum"
        ,nvl(sum(case SELECTED when '非常同意' then target_score  when '比较同意' then target_score*0.8 when '一般' then target_score*0.6 when '不太同意' then target_score*0.4 when '不同意' then target_score*0.2 else 0 end)/count(distinct code),0) as "totalAvgScore"
        from jxpj_xspj_dfpj pj
        left join jxpj_xspj_dfpj_item it on it.relation_code = pj.code
        left join jxpj_pjset_template_target tt on tt.template_code = it.template_code and tt.target_code = it.target_code
        left join jxpj_pjset_target tg on tg.target_code = tt.target_code
        where xn = #{xn} and xq = #{xq} and course_code = #{courseCode}
    </select>
    <select id="getPjInfoSuggestList" resultType="java.lang.String">
        select pj_suggest
        from jxpj_xspj_dfpj
        where xn = #{xn} and xq = #{xq} and course_code = #{courseCode}
    </select>
<!--
    根据userId 获取【本学期】的选课信息，同一门课存在多个教师授课的情况，所以这里把所有的授课老师都筛选出来：wm_concat(DISTINCT T2.SKJS_NAME) "teacherNames"
    教务系统中教师授课有2021年度的数据，学生选课最新的数据只有2020年的，所以这里的当前学年减了一年：(CURRENT_DATE - interval '1' year)
-->
    <select id="getBjpjTransferData" resultType="java.util.Map">
        SELECT distinct T2.XN, T2.XQ, T2.COURSE_CODE as "courseCode", T2.COURSE_NAME as "courseName"/*, wm_concat(DISTINCT T2.SKJS_NAME) as "teacherNames"*/
        FROM SYS_DATA_XSXK T1
        LEFT JOIN SYS_DATA_KC T2 ON T2.COURSE_CODE = T1.COURSE_CODE and T2.xn = T1.xn and T2.xq = T1.xq and (t2.skbj_code = t1.bh or t2.skbj_code is null)
        LEFT JOIN SYS_DATA_XNXQ t3 on t3.XN = T1.XN and t3.XQ = T1.XQ
        WHERE (CURRENT_DATE - interval '1' year) BETWEEN begin_date and end_date and T1.USER_ID = #{userId}
--         GROUP BY T2.XN, T2.XQ, T2.COURSE_CODE, T2.COURSE_NAME
    </select>

    <insert id="insertBjpj">
        insert all
        <foreach collection="xspjList" index="idx" item="obj">
            into JXPJ_XSPJ_BJPJ (CODE, XN, XQ, COURSE_CODE, SKJS_CODE, PJ_SUGGEST, USER_ID, USER_NAME, CREATE_DATE)
            values (#{obj.code},#{obj.xn},#{obj.xq},#{obj.courseCode},null,#{obj.pjSuggest},#{obj.userId},#{obj.userName},CURRENT_DATE)
        </foreach>
        select 1 from dual
    </insert>
    <insert id="insertBjpjItem">
        insert all
        <foreach collection="itemList" index="idx" item="obj">
            into JXPJ_XSPJ_BJPJ_ITEM (RELATION_CODE, TEMPLATE_CODE, TARGET_CODE, SCORE)
            values (#{obj.relationCode},#{obj.templateCode},#{obj.targetCode},#{obj.score})
        </foreach>
        select 1 from dual
    </insert>

    <select id="getBjpjPjSuggestList" resultType="java.util.Map">
        select distinct t3.course_code,t3.course_name,pj_suggest
        from jxpj_xspj_bjpj t1
        left join jxpj_xspj_bjpj_item t2 on t2.relation_code = t1.code
        left join sys_data_kc t3 on t3.course_code = t1.course_code
        where user_id = #{userId} and template_code = #{templateCode}
    </select>

    <select id="getBjpjPageList" resultType="com.mycode.jxzlpj.jiaoxuepingjia.xspj.domain.Xspj">
        SELECT DISTINCT T2.xn,T2.xq,T2.COURSE_CODE,T2.COURSE_name
        ,(case when pj.COURSE_CODE is not null then 1 else 2 end) isPj
        FROM SYS_DATA_JSRK T1
        LEFT JOIN SYS_DATA_KC T2 on T2.SKJS_CODE = T1.USER_ID AND T2.COURSE_CODE = T1.COURSE_CODE and T2.XN = T1.XN AND T2.XQ = T1.XQ
        LEFT JOIN JXPJ_XSPJ_BJPJ pj on pj.xn = T2.xn and pj.xq = T2.xq and pj.COURSE_CODE = T2.COURSE_CODE
        <where> 1=1
            <if test="accountType == 'teacher'">
                and T1.USER_ID = #{userId}
            </if>
            <if test="xn != null and xn != ''">/*学年*/
                and T1.XN = #{xn}
            </if>
            <if test="xq != null and xq != ''">/*学期*/
                and T1.XQ = #{xq}
            </if>
            <if test="courseName != null and courseName != ''">/*课程名称*/
                and T2.COURSE_NAME like concat(concat('%',#{courseName}),'%')
            </if>
            <if test="isPj != null and isPj != ''">/*评教状态*/
                <if test="isPj == 1">
                    and pj.code is not null
                </if>
                <if test="isPj == 2">
                    and pj.code is null
                </if>
            </if>
        </where>
    </select>

    <select id="getBjpjPjInfo" resultType="java.util.Map">
        select count(distinct code) as "pjNum"
        ,nvl(sum(it.score)/count(distinct code),0) as "totalAvgScore"
        from jxpj_xspj_bjpj pj
        left join jxpj_xspj_bjpj_item it on it.relation_code = pj.code
        where xn = #{xn} and xq = #{xq} and course_code = #{courseCode}
    </select>
    <select id="getBjpjPjInfoSuggestList" resultType="java.lang.String">
        select pj_suggest
        from jxpj_xspj_bjpj
        where xn = #{xn} and xq = #{xq} and course_code = #{courseCode}
    </select>
</mapper>