<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycode.jxzlpj.zhtj.mapper.TjfxMapper">

    <select id="getTjfxPageList" resultType="java.util.Map">
        SELECT t.*
        ,ROUND((thpj_avg_score*0.6 + xspj1_avg_score*0.4),2) zp
        FROM (
            <choose>
				<when test="tjType == 'xy'">
					SELECT u.XY_CODE code,u.XY_NAME name
					<include refid="sql"/>
					where u.XY_CODE is not null
					GROUP BY u.XY_CODE,u.XY_NAME
				</when>
				<when test="tjType == 'zy'">
                    SELECT u.ZY_CODE code,u.ZY_NAME name
                    <include refid="sql"/>
                    where u.ZY_CODE is not null
					<if test="xyCode != null and xyCode != ''">
						and u.XY_CODE = #{xyCode}
					</if>
                    GROUP BY u.ZY_CODE,u.ZY_NAME
                </when>
				<when test="tjType == 'js'">
					SELECT u.USER_ID code,u.USER_NAME name
					<include refid="sql"/>
					<where> u.ACCOUNT_TYPE = 'teacher'
						<if test="xyCode != null and xyCode != ''">
							and u.XY_CODE = #{xyCode}
						</if>
						<if test="zyCode != null and zyCode != ''">
							and u.ZY_CODE = #{zyCode}
						</if>
						<if test="userId != null and userId != ''">
							and u.USER_id = #{userId}
						</if>
					</where>
					GROUP BY u.USER_ID,u.USER_NAME
				</when>
			</choose>
        ) t
    </select>

    <sql id="sql">
         -- 继续教育
		,count(jxjy.user_id) jxjy_zrs ,nvl(sum(jxjy.total_num),0) jxjy_zrc,nvl(sum(jxjy.total_hour),0) jxjy_zxs
		-- 教改项目
		,nvl(sum(jgxm_country_num),0) jgxm_country_num,nvl(sum(jgxm_province_num),0) jgxm_province_num,nvl(sum(jgxm_school_num),0) jgxm_school_num
		-- 教改论文
		,nvl(sum(jglw_num),0) jglw_num
		-- 教材建设
		,nvl(sum(jcjs_zb_1),0) jcjs_zb_1,nvl(sum(jcjs_zb_2),0) jcjs_zb_2,nvl(sum(jcjs_zb_3),0) jcjs_zb_3,nvl(sum(jcjs_zb_4),0) jcjs_zb_4
		,nvl(sum(jcjs_zb_5),0) jcjs_zb_5,nvl(sum(jcjs_zb_6),0) jcjs_zb_6,nvl(sum(jcjs_zb_7),0) jcjs_zb_7
		,nvl(sum(jcjs_fzb_1),0) jcjs_fzb_1,nvl(sum(jcjs_fzb_2),0) jcjs_fzb_2,nvl(sum(jcjs_fzb_3),0) jcjs_fzb_3,nvl(sum(jcjs_fzb_4),0) jcjs_fzb_4
		,nvl(sum(jcjs_fzb_5),0) jcjs_fzb_5,nvl(sum(jcjs_fzb_6),0) jcjs_fzb_6,nvl(sum(jcjs_fzb_7),0) jcjs_fzb_7
		-- 教学团队
		,nvl(sum(jxtd_country_num),0) jxtd_country_num,nvl(sum(jxtd_province_num),0) jxtd_province_num,nvl(sum(jxtd_school_num),0) jxtd_school_num
		-- 教学奖励
		,nvl(sum(JYJXCGJ_country),0) JYJXCGJ_country,nvl(sum(JYJXCGJ_province),0) JYJXCGJ_province,nvl(sum(JYJXCGJ_school),0) JYJXCGJ_school
		,nvl(sum(ZYJSCGJ_country),0) ZYJSCGJ_country,nvl(sum(ZYJSCGJ_province),0) ZYJSCGJ_province,nvl(sum(ZYJSCGJ_school),0) ZYJSCGJ_school
		,nvl(sum(KCJSCGJ_country),0) KCJSCGJ_country,nvl(sum(KCJSCGJ_province),0) KCJSCGJ_province,nvl(sum(KCJSCGJ_school),0) KCJSCGJ_school
		,nvl(sum(JSGRCGJ_country),0) JSGRCGJ_country,nvl(sum(JSGRCGJ_province),0) JSGRCGJ_province,nvl(sum(JSGRCGJ_school),0) JSGRCGJ_school
		,nvl(sum(QTBKJXJL_country),0) QTBKJXJL_country,nvl(sum(QTBKJXJL_province),0) QTBKJXJL_province,nvl(sum(QTBKJXJL_school),0) QTBKJXJL_school
		,nvl(sum(WTBS_country),0) WTBS_country,nvl(sum(WTBS_province),0) WTBS_province,nvl(sum(WTBS_school),0) WTBS_school
		,nvl(sum(XKZYBS_country),0) XKZYBS_country,nvl(sum(XKZYBS_province),0) XKZYBS_province,nvl(sum(XKZYBS_school),0) XKZYBS_school
		-- 教学事故
		,nvl(sum(jxsg.jxsg_total_num),0) jxsg_total_num,nvl(sum(jxsg.jxsg_zdsg),0) jxsg_zdsg,nvl(sum(jxsg.jxsg_ybsg),0) jxsg_ybsg,nvl(sum(jxsg.jxsg_gs),0) jxsg_gs,nvl(sum(jxsg.jxsg_fmqd),0) jxsg_fmqd
		-- 同行评教
		,count(thpj.user_id) thpj_pj_rs ,nvl(sum(thpj.total_num),0) thpj_pj_rc, nvl(ROUND(AVG(thpj.avg_score), 2),0) thpj_avg_score
		,count(thpj2.TEACHER_CODE) thpj2_pj_rs ,nvl(sum(thpj2.total_num),0) thpj2_pj_rc, nvl(ROUND(AVG(thpj2.avg_score),2),0) thpj2_avg_score
		,nvl(sum(thpj3.kc_num),0) thpj3_1 ,nvl(sum(thpj3.pj_num),0) thpj3_2
		-- 学生评教
		,count(xspj1.user_id) xspj1_pj_rs ,nvl(sum(xspj1.total_num),0) xspj1_pj_rc, nvl(ROUND(AVG(xspj1.avg_score), 2),0) xspj1_avg_score
		,count(xspj2.TEACHER_CODE) xspj2_pj_rs ,nvl(sum(xspj2.total_num),0) xspj2_pj_rc, nvl(ROUND(AVG(xspj2.avg_score), 2),0) xspj2_avg_score
		,nvl(sum(xspj3.kc_num),0) xspj3_1, nvl(sum(xspj3.pj_num),0) xspj3_2
		--
		FROM SYS_USER u
		-- 继续教育
		LEFT JOIN (
			SELECT user_id,count(code) total_num,sum(PEIXUN_CLASS_HOUR) total_hour FROM JXYJ_JXJY GROUP BY user_id
		) jxjy on jxjy.USER_ID = u.USER_ID
		-- 教改项目
		LEFT JOIN (
		    -- 国家级
			SELECT USER_ID,count(code) jgxm_country_num from V_JXYJ_JGXM_COUNTRY_SHENHE where STATUS = '通过' GROUP BY USER_ID
		) jgxm_country on jgxm_country.USER_ID = u.USER_ID
		LEFT JOIN (
		    -- 省部级
			SELECT USER_ID,count(code) jgxm_province_num from V_JXYJ_JGXM_PROVINCE_SHENHE where STATUS = '通过' GROUP BY USER_ID
		) jgxm_province on jgxm_province.USER_ID = u.USER_ID
		LEFT JOIN (
		    -- 校级
			SELECT USER_ID,count(code) jgxm_school_num from V_JXYJ_JGXM_SCHOOL_SHENHE where STATUS = '通过' GROUP BY USER_ID
		) jgxm_school on jgxm_school.USER_ID = u.USER_ID
		-- 教改论文
		LEFT JOIN (
			SELECT DY_AUTHOR_CODE,count(code) jglw_num from V_JXYJ_JGLW_SHENHE where STATUS = '通过' GROUP BY DY_AUTHOR_CODE
		) jglw on jglw.DY_AUTHOR_CODE = u.USER_ID
		-- 教材建设
		LEFT JOIN (
		        -- 主编
				SELECT USER_ID
					,sum(case when SELECTED = '国家规划教材' then 1 else 0 end) jcjs_zb_1
					,sum(case when SELECTED = '省部级规划教材' then 1 else 0 end) jcjs_zb_2
					,sum(case when SELECTED = '国家级精品教材' then 1 else 0 end) jcjs_zb_3
					,sum(case when SELECTED = '省部级精品教材' then 1 else 0 end) jcjs_zb_4
					,sum(case when SELECTED = '国家级优秀教材' then 1 else 0 end) jcjs_zb_5
					,sum(case when SELECTED = '省部级优秀教材' then 1 else 0 end) jcjs_zb_6
					,sum(case when SELECTED = '其他' then 1 else 0 end) jcjs_zb_7
				FROM V_JXYJ_JCJS_SHENHE
				where STATUS = '通过' and PARTICIPATION_TYPE = '主编'
				GROUP BY USER_ID
		) jcjs_zb on jcjs_zb.USER_ID = u.USER_ID
		LEFT JOIN (
		        -- 副主编
				SELECT USER_ID
					,sum(case when SELECTED = '国家规划教材' then 1 else 0 end) jcjs_fzb_1
					,sum(case when SELECTED = '省部级规划教材' then 1 else 0 end) jcjs_fzb_2
					,sum(case when SELECTED = '国家级精品教材' then 1 else 0 end) jcjs_fzb_3
					,sum(case when SELECTED = '省部级精品教材' then 1 else 0 end) jcjs_fzb_4
					,sum(case when SELECTED = '国家级优秀教材' then 1 else 0 end) jcjs_fzb_5
					,sum(case when SELECTED = '省部级优秀教材' then 1 else 0 end) jcjs_fzb_6
					,sum(case when SELECTED = '其他' then 1 else 0 end) jcjs_fzb_7
				FROM V_JXYJ_JCJS_SHENHE
				where STATUS = '通过' and PARTICIPATION_TYPE = '副主编'
				GROUP BY USER_ID
		) jcjs_fzb on jcjs_fzb.USER_ID = u.USER_ID
		-- 教学团队
		LEFT JOIN (
		    -- 国家级
			SELECT USER_ID,count(code) jxtd_country_num from JXYJ_JXTD_COUNTRY GROUP BY USER_ID
		) jxtd_country on jxtd_country.USER_ID = u.USER_ID
		LEFT JOIN (
		    -- 省部级
			SELECT USER_ID,count(code) jxtd_province_num from JXYJ_JXTD_PROVINCE GROUP BY USER_ID
		) jxtd_province on jxtd_province.USER_ID = u.USER_ID
		LEFT JOIN (
		    -- 校级
			SELECT USER_ID,count(code) jxtd_school_num from JXYJ_JXTD_SCHOOL GROUP BY USER_ID
		) jxtd_school on jxtd_school.USER_ID = u.USER_ID
		-- 教学奖励
		LEFT JOIN (
			-- 教育教学成果奖
			SELECT USER_ID
				,sum(case when LEVEL1 = '国家级' then 1 else 0 end) JYJXCGJ_country
				,sum(case when LEVEL1 = '省部级' then 1 else 0 end) JYJXCGJ_province
				,sum(case when LEVEL1 = '校级' then 1 else 0 end) JYJXCGJ_school
			FROM V_JXJC_JYJXCGJ_SHENHE where STATUS = '通过'
			GROUP BY USER_ID
		) JYJXCGJ on JYJXCGJ.USER_ID = u.USER_ID
		LEFT JOIN (
			-- 专业建设成果奖
			SELECT USER_ID
				,sum(case when MAJOR_TYPE = '国家级' then 1 else 0 end) ZYJSCGJ_country
				,sum(case when MAJOR_TYPE = '省部级' then 1 else 0 end) ZYJSCGJ_province
				,sum(case when MAJOR_TYPE = '校级' then 1 else 0 end) ZYJSCGJ_school
			FROM V_JXJC_ZYJSCGJ_SHENHE where STATUS = '通过'
			GROUP BY USER_ID
		) ZYJSCGJ on ZYJSCGJ.USER_ID = u.USER_ID
		LEFT JOIN (
			-- 课程建设成果奖
			SELECT USER_ID
				,sum(case when AWARD_LEVEL = '国家级' then 1 else 0 end) KCJSCGJ_country
				,sum(case when AWARD_LEVEL = '省部级' then 1 else 0 end) KCJSCGJ_province
				,sum(case when AWARD_LEVEL = '校级' then 1 else 0 end) KCJSCGJ_school
			FROM V_JXJC_KCJSCGJ_SHENHE where STATUS = '通过'
			GROUP BY USER_ID
		) KCJSCGJ on KCJSCGJ.USER_ID = u.USER_ID
		LEFT JOIN (
			-- 教师个人成果奖
			SELECT USER_ID
				,sum(case when AWARD_LEVEL = '国家级' then 1 else 0 end) JSGRCGJ_country
				,sum(case when AWARD_LEVEL = '省部级' then 1 else 0 end) JSGRCGJ_province
				,sum(case when AWARD_LEVEL = '校级' then 1 else 0 end) JSGRCGJ_school
			FROM V_JXJC_JSGRCGJ_SHENHE where STATUS = '通过'
			GROUP BY USER_ID
		) JSGRCGJ on JSGRCGJ.USER_ID = u.USER_ID
		LEFT JOIN (
			-- 其他本科教学奖励
			SELECT USER_ID
				,sum(case when AWARD_LEVEL = '国家级' then 1 else 0 end) QTBKJXJL_country
				,sum(case when AWARD_LEVEL = '省部级' then 1 else 0 end) QTBKJXJL_province
				,sum(case when AWARD_LEVEL = '校级' then 1 else 0 end) QTBKJXJL_school
			FROM V_JXJC_QTBKJXJL_SHENHE where STATUS = '通过'
			GROUP BY USER_ID
		) QTBKJXJL on QTBKJXJL.USER_ID = u.USER_ID
		LEFT JOIN (
			-- 教师指导文体竞赛获奖
			SELECT USER_ID
				,sum(case when LEVEL1 = '国家级' then 1 else 0 end) WTBS_country
				,sum(case when LEVEL1 = '省部级' then 1 else 0 end) WTBS_province
				,sum(case when LEVEL1 = '校级' then 1 else 0 end) WTBS_school
			FROM V_SCJY_WTBS_SHENHE where STATUS = '通过'
			GROUP BY USER_ID
		) WTBS on WTBS.USER_ID = u.USER_ID
		LEFT JOIN (
			-- 教师指导学科竞赛获奖
			SELECT USER_ID
				,sum(case when LEVEL1 = '国家级' then 1 else 0 end) XKZYBS_country
				,sum(case when LEVEL1 = '省部级' then 1 else 0 end) XKZYBS_province
				,sum(case when LEVEL1 = '校级' then 1 else 0 end) XKZYBS_school
			FROM V_SCJY_XKZYBS_SHENHE where STATUS = '通过'
			GROUP BY USER_ID
		) XKZYBS on XKZYBS.USER_ID = u.USER_ID
		-- 教学事故
		LEFT JOIN (
			SELECT teacher_id
			, count(code) jxsg_total_num
			,sum(case when event_level = '重大事故' then 1 else 0 end) jxsg_zdsg
			,sum(case when event_level = '一般事故' then 1 else 0 end) jxsg_ybsg
			,sum(case when event_level = '过失' then 1 else 0 end) jxsg_gs
			,sum(case when event_level = '负面清单' then 1 else 0 end) jxsg_fmqd
			FROM JXJC_JXSG
			GROUP BY teacher_id
		) jxsg on jxsg.teacher_id = u.USER_ID
		-- 同行评教
		LEFT JOIN (
				-- 评价人信息
				SELECT USER_ID,count(USER_ID) total_num ,AVG(total_score) avg_score
				from JXPJ_THPJ t
				LEFT JOIN (
						SELECT RELATION_CODE,sum(ANSWER) total_score FROM JXPJ_THPJ_ITEM GROUP BY RELATION_CODE
				) t2 on T2.RELATION_CODE = t.code
				GROUP BY USER_ID
		) thpj on thpj.USER_ID = u.USER_ID
		LEFT JOIN (
				-- 被评价人信息
				SELECT TEACHER_CODE,count(TEACHER_CODE) total_num ,AVG(total_score) avg_score
				from JXPJ_THPJ t
				LEFT JOIN (
						SELECT RELATION_CODE,sum(ANSWER) total_score FROM JXPJ_THPJ_ITEM GROUP BY RELATION_CODE
				) t2 on T2.RELATION_CODE = t.code
				GROUP BY TEACHER_CODE
		) thpj2 on thpj2.TEACHER_CODE = u.USER_ID
		LEFT JOIN (
				-- 课程信息
				SELECT TEACHER_CODE,count(COURSE_CODE) kc_num,sum(total_num) pj_num
				FROM (
					SELECT TEACHER_CODE,COURSE_CODE,count(COURSE_CODE) total_num
					from JXPJ_THPJ
					GROUP BY TEACHER_CODE,COURSE_CODE
				) t
				GROUP BY TEACHER_CODE
		) thpj3 on thpj3.TEACHER_CODE = u.USER_ID
		-- 学生评教
		LEFT JOIN (
				-- 评价人信息
				SELECT USER_ID,count(USER_ID) total_num ,AVG(total_score) avg_score
				from JXPJ_XSPJ_DFPJ t
				LEFT JOIN (
						SELECT RELATION_CODE
						,sum(case ANSWER when '非常同意' then target_score  when '比较同意' then target_score*0.8 when '一般' then target_score*0.6
														when '不太同意' then target_score*0.4 when '不同意' then target_score*0.2 else 0 end) total_score
						FROM JXPJ_XSPJ_DFPJ_ITEM t1
						LEFT JOIN (
								SELECT tt.TEMPLATE_CODE,tg.target_code,tg.target_score
								FROM (
										SELECT TEMPLATE_CODE FROM JXPJ_PJSET_TEMPLATE where TEMPLATE_TYPE = '学生评教'
								) t
								LEFT JOIN JXPJ_PJSET_TEMPLATE_TARGET tt on TT.TEMPLATE_CODE = t.TEMPLATE_CODE
								LEFT JOIN JXPJ_PJSET_TARGET tg on tg.target_code = tt.target_code
						) t2 on t2.TEMPLATE_CODE = t1.TEMPLATE_CODE and t2.target_code = t1.target_code
						GROUP BY RELATION_CODE
				) t2 on T2.RELATION_CODE = t.code
				GROUP BY USER_ID
		) xspj1 on xspj1.USER_ID = u.USER_ID
		LEFT JOIN (
				-- 被评价人信息
				SELECT TEACHER_CODE,count(TEACHER_CODE) total_num ,AVG(total_score) avg_score
				from JXPJ_XSPJ_DFPJ t
				LEFT JOIN (
						SELECT RELATION_CODE
						,sum(case ANSWER when '非常同意' then target_score  when '比较同意' then target_score*0.8 when '一般' then target_score*0.6
														when '不太同意' then target_score*0.4 when '不同意' then target_score*0.2 else 0 end) total_score
						FROM JXPJ_XSPJ_DFPJ_ITEM t1
						LEFT JOIN (
								SELECT tt.TEMPLATE_CODE,tg.target_code,tg.target_score
								FROM (
										SELECT TEMPLATE_CODE FROM JXPJ_PJSET_TEMPLATE where TEMPLATE_TYPE = '学生评教'
								) t
								LEFT JOIN JXPJ_PJSET_TEMPLATE_TARGET tt on TT.TEMPLATE_CODE = t.TEMPLATE_CODE
								LEFT JOIN JXPJ_PJSET_TARGET tg on tg.target_code = tt.target_code
						) t2 on t2.TEMPLATE_CODE = t1.TEMPLATE_CODE and t2.target_code = t1.target_code
						GROUP BY RELATION_CODE
				) t2 on T2.RELATION_CODE = t.code
				GROUP BY TEACHER_CODE
		) xspj2 on xspj2.TEACHER_CODE = u.USER_ID
		LEFT JOIN (
				-- 课程信息
				SELECT USER_ID,count(COURSE_CODE) kc_num,sum(total_num) pj_num
				FROM (
					SELECT USER_ID,COURSE_CODE,count(COURSE_CODE) total_num
					from JXPJ_XSPJ_DFPJ
					GROUP BY USER_ID,COURSE_CODE
				) t
				GROUP BY USER_ID
		) xspj3 on xspj3.USER_ID = u.USER_ID
    </sql>
</mapper>