<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycode.jxzlpj.zhtj.mapper.XyMapper">

    <select id="getList" resultType="java.util.Map">
        SELECT u.XY_NAME
        -- 继续教育
        ,count(jxjy.user_id) jxjy_zrs ,nvl(sum(jxjy.total_num),0) jxjy_zrc,nvl(sum(jxjy.total_hour),0) jxjy_zxs
        -- 教改项目
        ,nvl(sum(jgxm_country_num),0) jgxm_country_num,nvl(sum(jgxm_province_num),0) jgxm_province_num,nvl(sum(jgxm_school_num),0) jgxm_school_num
        -- 教改论文
        ,nvl(sum(jglw_num),0) jglw_num
        -- 教材建设
        ,nvl(sum(jcjs_zb_1),0) jcjs_zb_1,nvl(sum(jcjs_zb_2),0) jcjs_zb_2,nvl(sum(jcjs_zb_3),0) jcjs_zb_3,nvl(sum(jcjs_zb_4),0) jcjs_zb_4
        ,nvl(sum(jcjs_zb_5),0) jcjs_zb_5,nvl(sum(jcjs_zb_6),0) jcjs_zb_6,nvl(sum(jcjs_zb_7),0) jcjs_zb_7
        ,nvl(sum(jcjs_fzb_1),0) jcjs_fzb_1,nvl(sum(jcjs_fzb_2),0) jcjs_fzb_2,nvl(sum(jcjs_fzb_3),0) jcjs_fzb_3,nvl(sum(jcjs_fzb_4),0) jcjs_fzb_4
        ,nvl(sum(jcjs_fzb_5),0) jcjs_fzb_5,nvl(sum(jcjs_fzb_6),0) jcjs_fzb_6,nvl(sum(jcjs_fzb_7),0) jcjs_fzb_7
        -- 教学团队
        ,nvl(sum(jxtd_country_num),0) jxtd_country_num,nvl(sum(jxtd_province_num),0) jxtd_province_num,nvl(sum(jxtd_school_num),0) jxtd_school_num
        -- 教学奖励
        ,nvl(sum(JYJXCGJ_country),0) JYJXCGJ_country,nvl(sum(JYJXCGJ_province),0) JYJXCGJ_province,nvl(sum(JYJXCGJ_school),0) JYJXCGJ_school
        ,nvl(sum(ZYJSCGJ_country),0) ZYJSCGJ_country,nvl(sum(ZYJSCGJ_province),0) ZYJSCGJ_province,nvl(sum(ZYJSCGJ_school),0) ZYJSCGJ_school
        ,nvl(sum(KCJSCGJ_country),0) KCJSCGJ_country,nvl(sum(KCJSCGJ_province),0) KCJSCGJ_province,nvl(sum(KCJSCGJ_school),0) KCJSCGJ_school
        ,nvl(sum(JSGRCGJ_country),0) JSGRCGJ_country,nvl(sum(JSGRCGJ_province),0) JSGRCGJ_province,nvl(sum(JSGRCGJ_school),0) JSGRCGJ_school
        ,nvl(sum(QTBKJXJL_country),0) QTBKJXJL_country,nvl(sum(QTBKJXJL_province),0) QTBKJXJL_province,nvl(sum(QTBKJXJL_school),0) QTBKJXJL_school
        ,nvl(sum(WTBS_country),0) WTBS_country,nvl(sum(WTBS_province),0) WTBS_province,nvl(sum(WTBS_school),0) WTBS_school
        ,nvl(sum(XKZYBS_country),0) XKZYBS_country,nvl(sum(XKZYBS_province),0) XKZYBS_province,nvl(sum(XKZYBS_school),0) XKZYBS_school
        -- 教学事故
        ,nvl(sum(jxsg.total_num),0) jxsg_total_num,nvl(sum(jxsg.zdsg),0) jxsg_total_zdsg,nvl(sum(jxsg.ybsg),0) jxsg_total_ybsg,nvl(sum(jxsg.gs),0) jxsg_total_gs,nvl(sum(jxsg.fmqd),0) jxsg_total_fmqd

        FROM SYS_USER u
        -- 继续教育
        LEFT JOIN (
            SELECT user_id,count(code) total_num,sum(PEIXUN_CLASS_HOUR) total_hour FROM JXYJ_JXJY GROUP BY user_id
        ) jxjy on jxjy.USER_ID = u.USER_ID
        -- 教改项目
        LEFT JOIN (
            SELECT USER_ID,count(code) jgxm_country_num from V_JXYJ_JGXM_COUNTRY_SHENHE where STATUS = '通过' GROUP BY USER_ID
        ) jgxm_country on jgxm_country.USER_ID = u.USER_ID
        LEFT JOIN (
            SELECT USER_ID,count(code) jgxm_province_num from V_JXYJ_JGXM_PROVINCE_SHENHE where STATUS = '通过' GROUP BY USER_ID
        ) jgxm_province on jgxm_province.USER_ID = u.USER_ID
        LEFT JOIN (
            SELECT USER_ID,count(code) jgxm_school_num from V_JXYJ_JGXM_SCHOOL_SHENHE where STATUS = '通过' GROUP BY USER_ID
        ) jgxm_school on jgxm_school.USER_ID = u.USER_ID
        -- 教改论文
        LEFT JOIN (
            SELECT DY_AUTHOR_CODE,count(code) jglw_num from V_JXYJ_JGLW_SHENHE where STATUS = '通过' GROUP BY DY_AUTHOR_CODE
        ) jglw on jglw.DY_AUTHOR_CODE = u.USER_ID
        -- 教材建设
        LEFT JOIN (
                SELECT USER_ID
                    ,sum(case when SELECTED = '国家规划教材' then 1 else 0 end) jcjs_zb_1
                    ,sum(case when SELECTED = '省部级规划教材' then 1 else 0 end) jcjs_zb_2
                    ,sum(case when SELECTED = '国家级精品教材' then 1 else 0 end) jcjs_zb_3
                    ,sum(case when SELECTED = '省部级精品教材' then 1 else 0 end) jcjs_zb_4
                    ,sum(case when SELECTED = '国家级优秀教材' then 1 else 0 end) jcjs_zb_5
                    ,sum(case when SELECTED = '省部级优秀教材' then 1 else 0 end) jcjs_zb_6
                    ,sum(case when SELECTED = '其他' then 1 else 0 end) jcjs_zb_7
                FROM V_JXYJ_JCJS_SHENHE
                where STATUS = '通过' and PARTICIPATION_TYPE = '主编'
                GROUP BY USER_ID
        ) jcjs_zb on jcjs_zb.USER_ID = u.USER_ID
        LEFT JOIN (
                SELECT USER_ID
                    ,sum(case when SELECTED = '国家规划教材' then 1 else 0 end) jcjs_fzb_1
                    ,sum(case when SELECTED = '省部级规划教材' then 1 else 0 end) jcjs_fzb_2
                    ,sum(case when SELECTED = '国家级精品教材' then 1 else 0 end) jcjs_fzb_3
                    ,sum(case when SELECTED = '省部级精品教材' then 1 else 0 end) jcjs_fzb_4
                    ,sum(case when SELECTED = '国家级优秀教材' then 1 else 0 end) jcjs_fzb_5
                    ,sum(case when SELECTED = '省部级优秀教材' then 1 else 0 end) jcjs_fzb_6
                    ,sum(case when SELECTED = '其他' then 1 else 0 end) jcjs_fzb_7
                FROM V_JXYJ_JCJS_SHENHE
                where STATUS = '通过' and PARTICIPATION_TYPE = '副主编'
                GROUP BY USER_ID
        ) jcjs_fzb on jcjs_fzb.USER_ID = u.USER_ID
        -- 教学团队
        LEFT JOIN (
            SELECT USER_ID,count(code) jxtd_country_num from JXYJ_JXTD_COUNTRY GROUP BY USER_ID
        ) jxtd_country on jxtd_country.USER_ID = u.USER_ID
        LEFT JOIN (
            SELECT USER_ID,count(code) jxtd_province_num from JXYJ_JXTD_PROVINCE GROUP BY USER_ID
        ) jxtd_province on jxtd_province.USER_ID = u.USER_ID
        LEFT JOIN (
            SELECT USER_ID,count(code) jxtd_school_num from JXYJ_JXTD_SCHOOL GROUP BY USER_ID
        ) jxtd_school on jxtd_school.USER_ID = u.USER_ID
        -- 教学奖励
        LEFT JOIN (
            -- 教育教学成果奖
            SELECT USER_ID
                ,sum(case when LEVEL1 = '国家级' then 1 else 0 end) JYJXCGJ_country
                ,sum(case when LEVEL1 = '省部级' then 1 else 0 end) JYJXCGJ_province
                ,sum(case when LEVEL1 = '校级' then 1 else 0 end) JYJXCGJ_school
            FROM V_JXJC_JYJXCGJ_SHENHE where STATUS = '通过'
            GROUP BY USER_ID
        ) JYJXCGJ on JYJXCGJ.USER_ID = u.USER_ID
        LEFT JOIN (
            -- 专业建设成果奖
            SELECT USER_ID
                ,sum(case when MAJOR_TYPE = '国家级' then 1 else 0 end) ZYJSCGJ_country
                ,sum(case when MAJOR_TYPE = '省部级' then 1 else 0 end) ZYJSCGJ_province
                ,sum(case when MAJOR_TYPE = '校级' then 1 else 0 end) ZYJSCGJ_school
            FROM V_JXJC_ZYJSCGJ_SHENHE where STATUS = '通过'
            GROUP BY USER_ID
        ) ZYJSCGJ on ZYJSCGJ.USER_ID = u.USER_ID
        LEFT JOIN (
            -- 专业建设成果奖
            SELECT USER_ID
                ,sum(case when AWARD_LEVEL = '国家级' then 1 else 0 end) KCJSCGJ_country
                ,sum(case when AWARD_LEVEL = '省部级' then 1 else 0 end) KCJSCGJ_province
                ,sum(case when AWARD_LEVEL = '校级' then 1 else 0 end) KCJSCGJ_school
            FROM V_JXJC_KCJSCGJ_SHENHE where STATUS = '通过'
            GROUP BY USER_ID
        ) KCJSCGJ on KCJSCGJ.USER_ID = u.USER_ID
        LEFT JOIN (
            -- 教师个人成果奖
            SELECT USER_ID
                ,sum(case when AWARD_LEVEL = '国家级' then 1 else 0 end) JSGRCGJ_country
                ,sum(case when AWARD_LEVEL = '省部级' then 1 else 0 end) JSGRCGJ_province
                ,sum(case when AWARD_LEVEL = '校级' then 1 else 0 end) JSGRCGJ_school
            FROM V_JXJC_JSGRCGJ_SHENHE where STATUS = '通过'
            GROUP BY USER_ID
        ) JSGRCGJ on JSGRCGJ.USER_ID = u.USER_ID
        LEFT JOIN (
            -- 其他本科教学奖励
            SELECT USER_ID
                ,sum(case when AWARD_LEVEL = '国家级' then 1 else 0 end) QTBKJXJL_country
                ,sum(case when AWARD_LEVEL = '省部级' then 1 else 0 end) QTBKJXJL_province
                ,sum(case when AWARD_LEVEL = '校级' then 1 else 0 end) QTBKJXJL_school
            FROM V_JXJC_QTBKJXJL_SHENHE where STATUS = '通过'
            GROUP BY USER_ID
        ) QTBKJXJL on QTBKJXJL.USER_ID = u.USER_ID
        LEFT JOIN (
            -- 文、体类比赛
            SELECT USER_ID
                ,sum(case when LEVEL1 = '国家级' then 1 else 0 end) WTBS_country
                ,sum(case when LEVEL1 = '省部级' then 1 else 0 end) WTBS_province
                ,sum(case when LEVEL1 = '校级' then 1 else 0 end) WTBS_school
            FROM V_SCJY_WTBS_SHENHE where STATUS = '通过'
            GROUP BY USER_ID
        ) WTBS on WTBS.USER_ID = u.USER_ID
        LEFT JOIN (
            -- 学科专业比赛
            SELECT USER_ID
                ,sum(case when LEVEL1 = '国家级' then 1 else 0 end) XKZYBS_country
                ,sum(case when LEVEL1 = '省部级' then 1 else 0 end) XKZYBS_province
                ,sum(case when LEVEL1 = '校级' then 1 else 0 end) XKZYBS_school
            FROM V_SCJY_XKZYBS_SHENHE where STATUS = '通过'
            GROUP BY USER_ID
        ) XKZYBS on XKZYBS.USER_ID = u.USER_ID
        -- 教学事故
        LEFT JOIN (
            SELECT teacher_id, count(code) total_num
            ,sum(case when event_level = '重大事故' then 1 else 0 end) zdsg
            ,sum(case when event_level = '一般事故' then 1 else 0 end) ybsg
            ,sum(case when event_level = '过失' then 1 else 0 end) gs
            ,sum(case when event_level = '负面清单' then 1 else 0 end) fmqd
            FROM JXJC_JXSG GROUP BY teacher_id
        ) jxsg on jxsg.teacher_id = u.USER_ID
        where u.ACCOUNT_TYPE = 'teacher'
        GROUP BY u.XY_NAME
    </select>
</mapper>