<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycode.jxzlpj.jiaoxuepingjia.thpj.mapper.CkpjMapper">
    <!--
     查看评教
     -->
    <select id="getCkpjPageList" resultType="com.mycode.jxzlpj.jiaoxuepingjia.thpj.domian.Ckpj">
        SELECT t2.course_code,t2.course_name,t2.course_attr,t2.XS,t2.XF,t2.XN,t2.XQ,t2.ZY_NAME,t2.XY_NAME
        ,(case when pj.template_code is not null then 1 else 2 end) is_pj
        ,pj.template_code template_code
        FROM SYS_DATA_JSRK T1
        LEFT JOIN SYS_DATA_KC T2 ON T2.COURSE_CODE = T1.COURSE_CODE
        LEFT JOIN (SELECT DISTINCT template_code,teacher_code,course_code FROM JXPJ_THPJ) pj on pj.teacher_code = T1.USER_ID and pj.course_code = T1.COURSE_CODE
        WHERE T1.USER_ID = #{userId}
        <if test="courseName !=null and courseName !=''">
            and t2.course_name like concat(concat('%',#{courseName}),'%')
        </if>
    </select>

    <select id="getThpjTargetAvgList" resultType="java.util.Map">
        SELECT TARGET_CODE "targetCode",AVG(ANSWER) "avgScore"
        from JXPJ_THPJ t1 LEFT JOIN JXPJ_THPJ_ITEM t2 on T2.RELATION_CODE = T1.CODE
        where T1.TEACHER_CODE = #{userId} and COURSE_CODE = #{courseCode}
        GROUP BY TARGET_CODE
    </select>

</mapper>