<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycode.jxzlpj.jiaoxuepingjia.thpj.mapper.DfpjMapper">

    <select id="getPageList" resultType="com.mycode.jxzlpj.jiaoxuepingjia.thpj.domian.ThpjQuery">
        SELECT kc.course_code,kc.course_name,kc.course_attr,kc.SK_SJ teach_date,kc.SK_DD teach_addr
        ,u.USER_ID teacher_code,u.user_name teacher,u.age teacher_age,u.title teacher_title,u.XY_NAME teacher_college,u.ZY_NAME teacher_major
        ,(case when pj.code is not null then 1 else 2 end) is_pj,pj.code as pj_code, pj.is_submit
        ,(case when pj2.total_score >= 90 then 1 else 2 end) is_top
        FROM SYS_DATA_JSRK jsrk
        LEFT JOIN SYS_DATA_KC kc on kc.SKJS_CODE = jsrk.USER_ID and kc.course_code = jsrk.course_code
        LEFT JOIN SYS_USER u on u.USER_ID = jsrk.USER_ID
        LEFT JOIN JXPJ_THPJ pj on pj.teacher_CODE = jsrk.USER_ID and pj.course_code = jsrk.course_code and pj.user_id = #{userId}
        LEFT JOIN (
            SELECT RELATION_CODE,sum(ANSWER) total_score FROM JXPJ_THPJ_ITEM GROUP BY RELATION_CODE
        ) pj2 on pj2.RELATION_CODE = pj.code
        <where>
            JSRK.USER_ID != #{userId}
            <if test="teacherCollege !=null and teacherCollege !=''">
                and u.xy_code = #{teacherCollege}
            </if>
            <if test="teacherMajor !=null and teacherMajor !=''">
                and u.zy_code = #{teacherMajor}
            </if>
            <if test="teacher !=null and teacher !=''">
                and u.user_name like concat(concat('%',#{teacher}),'%')
            </if>
            <if test="teacherAge !=null and teacherAge !=''">
                <choose>
                    <when test="teacherAge == '55岁及以上'">
                        and u.age >= 55
                    </when>
                    <when test="teacherAge == '45-54岁'">
                        and u.age BETWEEN 45 and 54
                    </when>
                    <when test="teacherAge == '35-44岁'">
                        and u.age BETWEEN 35 and 44
                    </when>
                    <when test="teacherAge == '34岁及以下'">
                        and u.age &lt;= 34
                    </when>
                </choose>
            </if>
            <if test="teacherTitle !=null and teacherTitle !=''">
                and u.title = #{teacherTitle}
            </if>
            <if test="courseName !=null and courseName !=''">
                and kc.course_name like concat(concat('%',#{courseName}),'%')
            </if>
            <if test="courseAttr !=null and courseAttr !=''">
                and kc.course_attr = #{courseAttr}
            </if>
            <if test="teachDate !=null and teachDate !=''">
                and kc.SK_SJ = #{teachDate}
            </if>
            <if test="teachAddr !=null and teachAddr !=''">
                and kc.SK_DD = #{teachAddr}
            </if>
        </where>
    </select>

    <select id="getThpjInfo" resultType="com.mycode.jxzlpj.jiaoxuepingjia.thpj.domian.Thpj">
        SELECT * FROM JXPJ_THPJ where CODE = #{pjCode}
    </select>
    <select id="getThpjItemListByRelationCode" resultType="java.util.Map">
        select NVL(TARGET_CODE,'totalScore') as "targetCode"
        ,sum(ANSWER) as "answer"
        from JXPJ_THPJ_ITEM
        where RELATION_CODE = #{relationCode}
        GROUP BY rollup(TARGET_CODE)
    </select>

    <insert id="insert">
        insert into JXPJ_THPJ
        (CODE, TEMPLATE_CODE, TEACHER_CODE, TEACHER, TEACHER_COLLEGE, COURSE_CODE, COURSE_NAME, COURSE_ATTR, STU_CLASS
        , TEACH_YEAR, TEACH_MONTH, TEACH_DAY, TEACH_WEEKNUM, TEACH_WEEK, TEACH_LESSONNUM, TEACH_HOUSE, TEACH_CLASSROOM
        , STU_YINGDAO, STU_SHIDAO, STU_CHIDAO, STU_QUEKE
        , DP_TEACHER, DP_STUDENT, DP_CLASSROOM
        , USER_ID, USER_NAME, CREATE_DATE)
        values
        (
        #{code},#{templateCode},#{teacherCode},#{teacher},#{teacherCollege},#{courseCode},#{courseName},#{courseAttr},#{stuClass}
        ,#{teachYear},#{teachMonth},#{teachDay},#{teachWeekNum},#{teachWeek},#{teachLessonNum},#{teachHouse},#{teachClassroom}
        ,#{stuYingdao},#{stuShidao},#{stuChidao},#{stuQueke},#{dpTeacher},#{dpStudent},#{dpClassroom}
        ,#{userId},#{userName},CURRENT_DATE
        )
    </insert>
    <insert id="insertTarget">
        insert all
        <foreach collection="pjSetTargetList" index="idx" item="obj">
            <foreach collection="paramMap" index="key"  item="val">
                <if test="key == obj.targetCode">
                    INTO JXPJ_THPJ_ITEM(RELATION_CODE,TARGET_CODE,ANSWER)
                    VALUES (#{relationCode},#{key,jdbcType=VARCHAR},#{val,jdbcType=VARCHAR})
                </if>
            </foreach>
        </foreach>
        select 1 from dual
    </insert>

    <delete id="deleteTargetByRelationCode">
        delete from JXPJ_THPJ_ITEM where RELATION_CODE = #{relationCode}
    </delete>

</mapper>