<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycode.jxzlpj.jiaoxuepingjia.thpj.mapper.ThpjMapper">

    <!--
    在显示列表中显示课程名称、课程性质、任课教师、教师所在单位和专业、上课时间、上课地点、学生班级的信息。
    -->
    <select id="getPageList" resultType="com.mycode.jxzlpj.jiaoxuepingjia.thpj.domian.Thpj">
        SELECT DISTINCT kc.XN, kc.XQ, kc.course_code, kc.course_name, kc.course_attr
        , kc.SKJS_CODE, kc.SKJS_NAME, js.XY_NAME as "skjsXy", js.ZY_NAME as "skjsZy", kc.SK_SJ, kc.SK_DD, kc.sk_bj
        ,(case when pj.code is not null then 1 else 2 end) as "isPj",	pj.code as "pjCode", pj.is_submit
        ,(case when pj2.total_score >= 90 then 1 else 2 end) as "isTop"
        FROM SYS_DATA_XNXQ t
        LEFT JOIN SYS_DATA_JSRK rk on rk.XN = t.XN and rk.XQ = t.XQ
        LEFT JOIN SYS_DATA_JS js on js.USER_ID = rk.USER_ID
        LEFT JOIN SYS_DATA_KC kc on kc.course_code = rk.course_code and kc.XN = rk.XN and KC.XQ = rk.XQ and kc.SKJS_CODE = rk.USER_ID
        LEFT JOIN JXPJ_THPJ pj on pj.XN = kc.XN and pj.XQ = kc.XQ and pj.course_code = rk.course_code and pj.SKJS_CODE = rk.USER_ID and pj.skbj = kc.sk_bj
        and pj.pj_type = #{pjType} and pj.user_id = #{userId}
        LEFT JOIN (
            SELECT RELATION_CODE,sum(score) total_score FROM JXPJ_THPJ_ITEM GROUP BY RELATION_CODE
        ) pj2 on pj2.RELATION_CODE = pj.code
        <where> (current_date - interval '1' year) between begin_date and end_date
            AND rk.USER_ID != #{userId}
            <if test="courseXy !=null and courseXy !=''">
                and kc.xy_code = #{courseXy}
            </if>
            <if test="courseZy !=null and courseZy !=''">
                and kc.zy_code = #{courseZy}
            </if>
            <if test="courseCode !=null and courseCode !=''">
                and kc.course_code #{courseCode}
            </if>
            <if test="courseName !=null and courseName !=''">
                and kc.course_name like concat(concat('%',#{courseName}),'%')
            </if>
            <if test="courseAttr !=null and courseAttr !=''">
                and kc.course_attr = #{courseAttr}
            </if>
            <if test="skjsXy !=null and skjsXy !=''">
                and js.XY_code = #{skjsXy}
            </if>
            <if test="skjsZy !=null and skjsZy !=''">
                and js.ZY_code = #{skjsZy}
            </if>
            <if test="skjsCode !=null and skjsCode !=''">
                and kc.SKJS_CODE = #{skjsCode}
            </if>
            <if test="skjsName !=null and skjsName !=''">
                and kc.SKJS_NAME like concat(concat('%',#{skjsName}),'%')
            </if>
            <if test="age !=null and age !=''">
                <choose>
                    <when test="age == '55岁及以上'">
                        and js.age >= 55
                    </when>
                    <when test="age == '45-54岁'">
                        and js.age BETWEEN 45 and 54
                    </when>
                    <when test="age == '35-44岁'">
                        and js.age BETWEEN 35 and 44
                    </when>
                    <when test="age == '34岁及以下'">
                        and js.age &lt;= 34
                    </when>
                </choose>
            </if>
            <if test="title !=null and title !=''">
                and js.title = #{title}
            </if>
            <if test="skSj !=null and skSj !=''">/*上课时间*/
                and kc.SK_SJ = #{skSj}
            </if>
            <if test="skDd !=null and skDd !=''">/*上课地点*/
                and kc.SK_DD = #{skDd}
            </if>

            <if test="lessonNum !=null and lessonNum !=''">/*节次*/
                and kc.SK_SJ like concat(concat('%',#{lessonNum}),'%')
            </if>
            <if test="isPj !=null">/*评教状态*/
                <if test="isPj == 1">
                    and pj.code is not null
                </if>
                <if test="isPj == 2">
                    and pj.code is null
                </if>
            </if>
            <if test="isSubmit !=null">/*提交状态*/
                and pj.is_submit = #{isSubmit}
            </if>
        </where>
        ORDER BY pj.code
    </select>

    <select id="getThpjTemplateCode" resultType="java.lang.String">
        select distinct template_code from JXPJ_THPJ_item where relation_code = #{pjCode}
    </select>

    <!--
    返回值：name 指标名称
            num 指标名称关联的指标项个数
            score 指标名称关联的指标项分数合计
            最后按照‘一二三...’排序。
    -->
    <select id="getPjzb" resultType="java.util.Map">
        SELECT TARGET_NAME as "name",count(0) as "num",sum(TARGET_SCORE) as "score"
        FROM JXPJ_PJSET_TEMPLATE_TARGET tt
        LEFT JOIN JXPJ_PJSET_TARGET t on t.TARGET_CODE = TT.TARGET_CODE
        where TT.TEMPLATE_CODE = #{templateCode}
        GROUP BY TARGET_NAME
        order by decode(SUBSTR(TARGET_NAME, 0, 1),'一',1,'二',2,'三',3,'四',4,'五',5,'六',6,'七',7,'八',8,'九',9,'零',0)
    </select>

    <select id="getThpjInfo" resultType="com.mycode.jxzlpj.jiaoxuepingjia.thpj.domian.Thpj">
        SELECT * FROM JXPJ_THPJ where CODE = #{pjCode}
    </select>
    <select id="getThpjItemList" resultType="java.util.Map">
        select NVL(TARGET_CODE,'totalScore') as "targetCode"
        ,sum(SCORE) as "score"
        from JXPJ_THPJ_ITEM
        where RELATION_CODE = #{relationCode}
        GROUP BY rollup(TARGET_CODE)
    </select>

    <insert id="insert">
        insert into JXPJ_THPJ
        (CODE,PJ_TYPE, XN, XQ, COURSE_CODE, COURSE_NAME, COURSE_ATTR, SKJS_CODE, SKJS_NAME, SKJS_XY, SKBJ
        , TEACH_WEEK, WEEK_NUM, LESSON_NUM, SKDD, STU_YD, STU_SD, STU_CD, STU_QK
        , TEACHER_DP1, TEACHER_DP2, STUDENT_DP1, STUDENT_DP2, CLASSROOM_DP, USER_ID, USER_NAME, IS_SUBMIT, CREATE_DATE)
        values
        (
        #{code},#{pjType},#{xn},#{xq},#{courseCode},#{courseName},#{courseAttr},#{skjsCode},#{skjsName},#{skjsXy},#{skBj}
        ,#{teachWeek},#{weekNum},#{lessonNum},#{skDd},#{stuYd},#{stuSd},#{stuCd},#{stuQk}
        ,#{teacherDp1},#{teacherDp2},#{studentDp1},#{studentDp2},#{classroomDp},#{userId},#{userName},2,CURRENT_DATE
        )
    </insert>
    <insert id="insertTarget">
        insert all
        <foreach collection="pjSetTargetList" index="idx" item="obj">
            <foreach collection="paramMap" index="key"  item="val">
                <if test="key == obj.targetCode">
                    INTO JXPJ_THPJ_ITEM (RELATION_CODE, TEMPLATE_CODE, TARGET_CODE, SCORE) VALUES (#{relationCode},#{templateCode},#{key,jdbcType=VARCHAR},#{val,jdbcType=VARCHAR})
                </if>
            </foreach>
        </foreach>
        select 1 from dual
    </insert>

    <delete id="deleteItems">
        delete from JXPJ_THPJ_ITEM where RELATION_CODE = #{relationCode}
    </delete>

    <!--
    同行评教-比较评价-優秀率算法
    -->
    <select id="isTopFull" resultType="java.lang.Integer">
        SELECT (case when pj_num = 0 then 2
		    when pj_num = 1 and top_num = 0 then 2
		    when pj_num = 1 and top_num = 1 then 1
		    when ROUND(pj_num*0.3) = top_num then 1 else 2 end) is_top_full
        FROM(
            SELECT count(t.code) pj_num
            , NVL(sum(case when total_score >= 90 then 1 else 0 end), 0) top_num
            FROM JXPJ_THPJ t
            LEFT JOIN (
                SELECT RELATION_CODE,sum(SCORE) total_score FROM JXPJ_THPJ_ITEM GROUP BY RELATION_CODE
            ) t2 on T2.RELATION_CODE = t.code
            where PJ_TYPE = 2 and is_submit = 1 and USER_ID = #{userId}
        )t
    </select>

    <update id="submit">
        UPDATE JXPJ_THPJ set IS_SUBMIT = 1 where CODE = #{pjCode}
    </update>
    <update id="resetSubmit">
        UPDATE JXPJ_THPJ set IS_SUBMIT = 2 where CODE = #{pjCode}
    </update>

    <select id="ckpj" resultType="java.util.Map">
        SELECT js.USER_ID as "userId"
        ,js.USER_NAME as "userName"
        , sum(case when PJ.USER_ID = js.USER_ID then 1 else 0 end) as "pjNum"
        , sum(case when PJ.skjs_code = js.USER_ID then 1 else 0 end) as "bpNum"
        FROM SYS_DATA_JS js LEFT JOIN JXPJ_THPJ pj on PJ.USER_ID = js.USER_ID or PJ.skjs_code = js.USER_ID
        WHERE 1=1
        <if test="accountType !=null and accountType == 'teacher'">
            and js.USER_ID = #{userId}
        </if>
        <if test="skjsCode !=null and skjsCode !=''">
            and js.USER_ID = #{skjsCode}
        </if>
        <if test="skjsName !=null and skjsName !=''">
            and js.USER_NAME like concat(concat('%',#{skjsName}),'%')
        </if>
        GROUP BY js.USER_ID,js.USER_NAME
    </select>
</mapper>