<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycode.edu.EduMapper">

    <insert id="resetEduDataInfo">
        insert all
        <foreach collection="mapList" index="idx"  item="map">
            <choose>
                <when test="tab == 'SYS_DATA_XY'">
                    INTO SYS_DATA_XY(CODE, NAME, IMPORT_DATE)
                </when>
                <when test="tab == 'SYS_DATA_ZY'">
                    INTO SYS_DATA_ZY(CODE, NAME, XY_CODE, XY_NAME, IMPORT_DATE)
                </when>
                <when test="tab == 'SYS_DATA_KC'">
                    INTO SYS_DATA_KC(COURSE_CODE, COURSE_NAME, COURSE_ATTR, XS, XF, XN, XQ, XY_CODE, XY_NAME, ZY_CODE, ZY_NAME, SKJS_CODE, SKJS_NAME, SK_SJ, SK_DD, SK_BJ, XSRS, IMPORT_DATE)
                </when>
                <when test="tab == 'SYS_DATA_JS'">
                    INTO SYS_DATA_JS(USER_ID, USER_NAME, SEX, AGE, XY_CODE, XY_NAME, ZY_CODE, ZY_NAME, UNIT, TITLE, IMPORT_DATE)
                </when>
                <when test="tab == 'SYS_DATA_JSRK'">
                    INTO SYS_DATA_JSRK (USER_ID, COURSE_CODE, IMPORT_DATE)
                </when>
                <when test="tab == 'SYS_DATA_XS'">
                    INTO SYS_DATA_XS(USER_ID, USER_NAME, SEX, AGE, XY_CODE, XY_NAME, ZY_CODE, ZY_NAME, NJ, BJ, IMPORT_DATE)
                </when>
                <when test="tab == 'SYS_DATA_XSXK'">
                    INTO SYS_DATA_XSXK (USER_ID, COURSE_CODE, IMPORT_DATE)
                </when>
            </choose>
            VALUES
            (
                <foreach collection="map.values" index="index"  item="item">
                    #{item,jdbcType=VARCHAR},
                </foreach>
                CURRENT_DATE
            )
        </foreach>
        select 1 from dual
    </insert>

    <!--增量更新教师信息-->
    <insert id="resetSysUserTeacherInfo">
        insert into SYS_USER
        SELECT js.USER_ID,js.USER_NAME,'123qaz','teacher',null,js.SEX,js.AGE,js.XY_CODE,js.XY_NAME,js.ZY_CODE,js.ZY_NAME,js.UNIT,js.TITLE,null,null,IMPORT_DATE
        FROM SYS_DATA_JS js LEFT JOIN SYS_USER u on u.USER_ID = js.USER_ID where u.USER_ID is null
    </insert>
    <!--增量更新学生信息-->
    <insert id="resetSysUserStudentInfo">
        insert into SYS_USER
        SELECT xs.USER_ID,xs.USER_NAME,'123qaz','student',null,xs.SEX,xs.AGE,xs.XY_CODE,xs.XY_NAME,xs.ZY_CODE,xs.ZY_NAME,null,null,xs.NJ,xs.BJ,IMPORT_DATE
        FROM SYS_DATA_XS xs LEFT JOIN SYS_USER u on u.USER_ID = xs.USER_ID where u.USER_ID is null
    </insert>
    <!-- 默认授权，老师拥有老师角色，学生拥有学生角色。 -->
    <insert id="resetSysUserRoleInfo">
        insert into SYS_USER_ROLE
        SELECT u.USER_ID,(case when u.ACCOUNT_TYPE = 'teacher' then 8 when u.ACCOUNT_TYPE = 'student' then 9 end)
        FROM SYS_USER u LEFT JOIN SYS_USER_ROLE ur on ur.USER_ID = u.USER_ID
        where ur.USER_ID is null
    </insert>

    <delete id="deleteEduDataInfo">
        delete from ${tab}
    </delete>
</mapper>