<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycode.common.common.mapper.CommonMapper">

    <select id="getAuthority" resultType="map">
            SELECT sum(CASE when m.menu_name = '提交' then 1 else 0 end) "isSubmit"
            ,sum(CASE when m.menu_name = '审核' then 1 else 0 end) "isShenhe"
            from sys_user_role ur
            LEFT JOIN sys_role_menu rm ON rm.role_id = ur.role_id
            LEFT JOIN sys_menu m on m.menu_id = rm.menu_id
            WHERE m.pid = #{menuId}
            and ur.user_id = #{userId}
    </select>

    <select id="getCollege" resultType="java.util.Map">
        SELECT distinct code,name
        FROM DATA_COLLEGE
        ORDER BY NLSSORT(name,'NLS_SORT = SCHINESE_PINYIN_M')
    </select>

    <select id="getMajor" resultType="java.util.Map">
        SELECT distinct m.code,m.name
        FROM DATA_MAJOR m /*LEFT JOIN DATA_COLLEGE c on c.CODE = m.COLLEGE_CODE*/
        <where>1=1
            <if test="collegeCode !=null and collegeCode !=''">
                and COLLEGE_CODE = #{collegeCode}
            </if>
        </where>
        ORDER BY NLSSORT(m.name,'NLS_SORT = SCHINESE_PINYIN_M')
    </select>
</mapper>