<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycode.common.common.mapper.CommonMapper">

    <select id="getCollege" resultType="java.util.Map">
        SELECT distinct code,name
        FROM DATA_COLLEGE
        ORDER BY NLSSORT(name,'NLS_SORT = SCHINESE_PINYIN_M')
    </select>

    <select id="getMajor" resultType="java.util.Map">
        SELECT distinct m.code,m.name
        FROM DATA_MAJOR m /*LEFT JOIN DATA_COLLEGE c on c.CODE = m.COLLEGE_CODE*/
        <where>1=1
            <if test="collegeCode !=null and collegeCode !=''">
                and COLLEGE_CODE = #{collegeCode}
            </if>
        </where>
        ORDER BY NLSSORT(m.name,'NLS_SORT = SCHINESE_PINYIN_M')
    </select>

    <select id="getCourseListByUserId" resultType="com.mycode.common.common.domain.Course">
        SELECT T2.*
        FROM DATA_TEACHER_COURSE T1 LEFT JOIN DATA_COURSE T2 ON T2.COURSE_CODE = T1.COURSE_CODE
        WHERE T1.USER_ID =#{userId}
    </select>
</mapper>