<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycode.common.optionSet.mapper.OptionSetMapper">

    <!-- OptionSet -->
    <select id="getOptionSetMenuList" resultType="java.util.Map">
        <choose>
            <when test="pid != null and pid != ''">
                SELECT M2.MENU_ID name,M2.MENU_NAME value
                FROM (SELECT DISTINCT MENU_ID FROM COMMON_OPTION_SET_MENU WHERE PID = #{pid}) M1
                LEFT JOIN SYS_MENU M2 ON M2.MENU_ID = M1.MENU_ID
            </when>
            <otherwise>
                SELECT M2.MENU_ID name,M2.MENU_NAME value
                FROM (SELECT DISTINCT PID FROM COMMON_OPTION_SET_MENU) M1
                LEFT JOIN SYS_MENU M2 ON M2.MENU_ID = M1.PID
            </otherwise>
        </choose>
    </select>
    <select id="getOptionSetAttrList" resultType="java.util.Map">
        SELECT ATTR name,ATTR_NAME value
        FROM COMMON_OPTION_SET_MENU
        where MENU_ID = #{menuId}
    </select>

    <select id="getOptionSetList" resultType="java.util.Map">
        SELECT t2.*
        FROM COMMON_OPTION_SET t1
        LEFT JOIN COMMON_OPTION_SET_OPTION t2 on t2.CODE = T1.OPTION_CODE
        WHERE MENU_ID = #{menuId} and ATTR = #{attr}
    </select>
    <insert id="addOptionSet">
        INSERT INTO COMMON_OPTION_SET (MENU_ID, ATTR, OPTION_CODE) VALUES (#{menuId},#{attr},#{optionCode})
    </insert>
    <delete id="delOptionSet">
        DELETE FROM COMMON_OPTION_SET where MENU_ID = #{menuId} and ATTR = #{attr} and OPTION_CODE = #{optionCode}
    </delete>

    <!-- Option -->
    <select id="getOptionPageList" resultType="java.util.Map">
        SELECT * FROM COMMON_OPTION_SET_OPTION
    </select>
    <select id="getOption" resultType="java.util.Map">
        SELECT * FROM COMMON_OPTION_SET_OPTION WHERE NAME = #{name}
    </select>
    <insert id="insertOption">
        INSERT INTO COMMON_OPTION_SET_OPTION (CODE,NAME) VALUES (#{code},#{name})
    </insert>
    <update id="updateOption">
        UPDATE COMMON_OPTION_SET_OPTION SET NAME = #{name} WHERE CODE = #{code}
    </update>
    <delete id="deleteOption">
        begin
        DELETE FROM COMMON_OPTION_SET_OPTION where CODE = #{code};
        DELETE FROM COMMON_OPTION_SET where OPTION_CODE = #{code}; <!-- 根据选项编号删除已关联的数据 -->
        end;
    </delete>
</mapper>