<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycode.common.shenhe.mapper.ShenHeMapper">

    <update id="batchSubimt">
        insert all
        <foreach collection ="objList" index= "idx" item="obj">
            into COMMON_SHENHE
            (shenhe_code,relation_code,batch_num,status,user_id,user_name,create_date)
            values
            ( #{obj.shenheCode},#{obj.code},#{obj.batchNum},'审核中',#{obj.userId},#{obj.userName},CURRENT_DATE)
        </foreach>
        select 1 from dual
    </update>

    <select id="getShenheNode" resultType="com.mycode.common.shenhe.domain.ShenHeNode">
        SELECT sn.*
        from ${v_tab_shenhe} v
        LEFT JOIN COMMON_SHENHE_NODE sn ON sn.shenhe_code = v.shenhe_code
        LEFT JOIN sys_user_role ur ON ur.role_id = sn.role_id
        where code = #{relationCode} and ur.user_id = #{userId}
    </select>

    <insert id="toShenhe">
        insert into COMMON_SHENHE_ITEM
        (relation_code,batch_num,shenhe_type,status,opinion,node_code,node_name,user_id,user_name,create_date)
        values
        (#{relationCode},#{batchNum},#{shenheType,jdbcType=VARCHAR},#{status},#{opinion},#{nodeCode},#{nodeName},#{userId},#{userName},sysdate)
    </insert>

    <select id="isShenhePass" resultType="int">
        SELECT (case when total_num = exec_num then 1 else 0 end) isPass
        from (
            SELECT v.code,v.batch_num
            ,count(sn.node_code) total_num
            ,count(item.node_code) exec_num
            from ${v_tab_shenhe} v
            left join COMMON_SHENHE_NODE sn on sn.shenhe_code = v.shenhe_code
            left join COMMON_SHENHE_ITEM item on item.relation_code = v.code and item.batch_num = v.batch_num and item.node_code = sn.node_code
            WHERE v.code = #{relationCode} and v.batch_num = #{batchNum}
            GROUP BY v.code,v.batch_num
        )t
    </select>
</mapper>

