<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycode.common.shenhe.mapper.ShenHeMapper">

    <select id="getShenheNodeList" resultType="com.mycode.common.shenhe.domain.ShenHeNode">
        SELECT sn.*,role_name
        from COMMON_SHENHE_NODE sn LEFT JOIN sys_role r on r.role_id = sn.role_id
        WHERE shenhe_code = #{shenheCode}
        <if test="execLevel != null and execLevel != ''">
            and exec_level = #{execLevel}
        </if>
        ORDER BY exec_level
    </select>

    <insert id="addShenHeNode">
        insert into COMMON_SHENHE_NODE (shenhe_code,node_code,node_name,node_task,role_id,exec_level,create_date)
        values (#{shenheCode},#{nodeCode},#{nodeName},#{nodeTask},#{roleId},#{execLevel},CURRENT_DATE)
    </insert>

    <update id="updateShenHeNodeByCode">
        update COMMON_SHENHE_NODE
        <set>
            <if test="nodeName != null and nodeName != ''">
                node_name = #{nodeName}
            </if>
            <if test="nodeTask != null and nodeTask != ''">
                , node_task = #{nodeTask}
            </if>
            <if test="execLevel != null and execLevel != ''">
                ,exec_level = ${execLevel}
            </if>
        </set>
        where node_code = #{nodeCode}
    </update>

    <update id="batchUpdateShenHeNodeExecLevel">
        update COMMON_SHENHE_NODE set exec_level = exec_level-1
        where shenhe_code = #{shenheCode} and exec_level > #{execLevel}
    </update>

    <delete id="deleteShenHeNodeByCode">
        delete from COMMON_SHENHE_NODE where node_code = #{nodeCode}
    </delete>

</mapper>

