<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycode.common.shenhe.mapper.ShenHeMapper">

    <select id="getShenHeList" resultType="com.mycode.common.shenhe.domain.ShenHeSet">
        select sh.*
        ,m.menu_name
--         ,GROUP_CONCAT(DISTINCT t.role_name ORDER BY t.exec_level SEPARATOR ' > ') roleStr
        ,role_str
        ,(case when t.shenhe_code is not null then 1 else 0 end) is_delete
        from COMMON_SHENHE_SET sh
        LEFT JOIN sys_menu m on m.menu_id = sh.menu_id
        LEFT JOIN (
            SELECT SHENHE_CODE,listagg(role_name,'>') within group(order by exec_level) role_str
            FROM COMMON_SHENHE_NODE sn
            LEFT JOIN sys_role r ON r.role_id = sn.role_id GROUP BY SHENHE_CODE
        ) t on t.shenhe_code = sh.shenhe_code
        <where>
            <if test="menuParentId != null and menuParentId != ''">
                and m.pid = #{menuParentId}
            </if>
            <if test="menuId != null and menuId != ''">
                and m.menu_id = #{menuId}
            </if>
        </where>
--         GROUP BY sh.shenhe_code
        ORDER BY sh.create_date desc
    </select>

    <select id="getMenuParentList" resultType="com.mycode.system.menu.domain.Menu">
        <choose>
            <when test="menuId != null and menuId != ''">
                SELECT * from sys_menu WHERE pid = #{menuId}
            </when>
            <otherwise>
                SELECT * from sys_menu WHERE pid is null and menu_name != '系统设置'
            </otherwise>
        </choose>
    </select>
    <select id="getMenuListForShenHe" resultType="com.mycode.system.menu.domain.Menu">
        SELECT * from sys_menu
        WHERE pid in (
          SELECT menu_id from sys_menu WHERE pid is null and menu_name != '系统设置'
        ) and menu_name not in ('提交','审核')
    </select>

    <insert id="addShenhe">
        insert into COMMON_SHENHE_SET
        (menu_id,shenhe_code,shenhe_name,shenhe_desc,status,create_date)
        values
        (#{menuId},#{shenheCode},#{shenheName},#{shenheDesc},1,sysdate)
    </insert>

    <update id="updateShenheByCode">
        update COMMON_SHENHE_SET
        <set>
            <if test="shenheName != null and shenheName != ''">
                shenhe_name = #{shenheName}
            </if>
            <if test="shenheDesc != null and shenheDesc != ''">
                , shenhe_desc = #{shenheDesc}
            </if>
        </set>
        where shenhe_code = #{shenheCode}
    </update>

    <select id="getShenheNodeList" resultType="com.mycode.common.shenhe.domain.ShenHeNode">
        SELECT sn.*,role_name
        from COMMON_SHENHE_NODE sn LEFT JOIN sys_role r on r.role_id = sn.role_id
        WHERE shenhe_code = #{shenheCode}
        <if test="execLevel != null and execLevel != ''">
            and exec_level = #{execLevel}
        </if>
        ORDER BY exec_level
    </select>

    <select id="getRoleListByMenuId" resultType="com.mycode.system.role.domain.Role">
       SELECT DISTINCT r.role_id,r.role_name
        FROM sys_role_menu rm LEFT JOIN sys_role r ON r.role_id = rm.role_id
        WHERE rm.menu_id = (SELECT menu_id FROM sys_menu WHERE menu_name = '审核' AND pid = #{menuId})
        and r.role_id != 1
    </select>

    <insert id="addShenHeNode">
        insert into COMMON_SHENHE_NODE (shenhe_code,node_code,node_name,node_task,role_id,exec_level,create_date)
        values (#{shenheCode},#{nodeCode},#{nodeName},#{nodeTask},#{roleId},#{execLevel},sysdate)
    </insert>
    <update id="updateShenHeNodeByCode">
        update COMMON_SHENHE_NODE
        <set>
            <if test="nodeName != null and nodeName != ''">
                node_name = #{nodeName}
            </if>
            <if test="nodeTask != null and nodeTask != ''">
                , node_task = #{nodeTask}
            </if>
            <if test="execLevel != null and execLevel != ''">
                ,exec_level = ${execLevel}
            </if>
        </set>
        where node_code = #{nodeCode}
    </update>

    <insert id="toShenhe">
        insert into COMMON_SHENHE_ITEM
        (relation_code,batch_num,status,opinion,node_code,node_name,user_id,user_name,create_date)
        values
        (#{relationCode},#{batchNum},#{status},#{opinion},#{nodeCode},#{nodeName},#{userId},#{userName},sysdate)
    </insert>

    <delete id="batchDelete">
        delete from COMMON_SHENHE_SET
        where 1>1
        or shenhe_code in
        <if test="codeArr !=null and codeArr.length>0" >
            <foreach collection="codeArr" index="idx" item="code" open="(" separator="," close=")">
                #{code}
            </foreach>
        </if>
        ;delete from COMMON_SHENHE_NODE
        where 1>1
        or shenhe_code in
        <if test="codeArr !=null and codeArr.length>0" >
            <foreach collection="codeArr" index="idx" item="code" open="(" separator="," close=")">
                #{code}
            </foreach>
        </if>
    </delete>
</mapper>

