<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycode.jiaoxueyanjiu.jiaoxuetuandui.mapper.JiaoXueTuanDuiMapper">

    <select id="getPageList" resultType="com.mycode.jiaoxueyanjiu.jiaoxuetuandui.domain.JiaoXueTuanDui">
        <choose>
            <when test="shenHeUserId !=null and shenHeUserId !='' and isPsAccount == 1"><!-- 审核列表 -->
                select * from (
                    SELECT v.*
                ,(case when item.relation_code is not null then '已审核' else '未审核' end) shenhe_status
                    ,memberIds,memberNames
                    ,(case when ps.relation_code is not null and ps.middleResult = 1 then '已填写' else '未填写' end ) middleResult
                    ,(case when ps.relation_code is not null and ps.finalResult = 1 then '已填写' else '未填写' end ) finalResult
                    from V_JXYJ_JXTD_SHENHE v
                LEFT JOIN (SELECT * FROM COMMON_SHENHE_ITEM where USER_ID = #{shenHeUserId}) item on item.relation_code = v.code and item.batch_num = v.batch_num
                    LEFT JOIN (
                        SELECT relation_code
                        ,listagg(user_name,',') within group(order by user_id) memberNames
                        ,listagg(user_id,',') within group(order by user_id) memberIds
                        FROM JXYJ_JXTD_MEMBER
                        GROUP BY relation_code
                    ) m on m.relation_code = v.code
                    left join (
                        SELECT RELATION_CODE,max(batch_num) batch_num
                        ,max(case when pingshen_type = '中期考核' then 1 else 0 end ) middleResult
                        ,max(case when pingshen_type = '最终考核' then 1 else 0 end ) finalResult
                        from JXYJ_JXTD_PS
                        WHERE USER_ID = #{shenHeUserId}
                        GROUP BY RELATION_CODE
                    ) ps on ps.relation_code = v.code and ps.batch_num = v.batch_num

                  <include refid="queryCondition"/>
                )
                <where>1=1
                    <if test="shenheStatus != null and shenheStatus != ''">
                        and shenhe_status = #{shenheStatus}
                    </if>
                </where>
                ORDER BY shenhe_status DESC
            </when>
            <when test="shenHeUserId !=null and shenHeUserId !=''">
                SELECT v.*
                ,(case when exec_num = total_num-1 then '待审核' when item.relation_code is not null then '已审核' else '未审核' end) shenhe_status
                from V_JXYJ_JXTD_SHENHE v
                LEFT JOIN (SELECT * FROM COMMON_SHENHE_ITEM where USER_ID = #{shenHeUserId}) item on item.relation_code = v.code and item.batch_num = v.batch_num
                LEFT JOIN(
                    SELECT v.code,v.batch_num
                    ,count(sn.node_code) total_num
                    ,count(item.node_code) exec_num
                    from V_JXYJ_JXTD_SHENHE v
                    left join COMMON_SHENHE_NODE sn on sn.shenhe_code = v.shenhe_code
                    left join COMMON_SHENHE_ITEM item on item.relation_code = v.code and item.batch_num = v.batch_num and item.node_code = sn.node_code
                    GROUP BY v.code,v.batch_num
                )t on t.code = v.code and t.batch_num = v.batch_num
                left join COMMON_SHENHE_NODE sn on sn.shenhe_code = v.shenhe_code
                left join sys_user_role ur on ur.role_id = sn.role_id where ur.user_id = #{shenHeUserId}
            </when>
            <otherwise><!-- 提交列表 -->
                SELECT v.*
                ,(case when shenhe_code is null or STATUS = '退回' THEN '未提交'  else '已提交' end ) is_submit
                ,memberIds,memberNames
                from V_JXYJ_JXTD v
                LEFT JOIN (
                    SELECT relation_code
                    ,listagg(user_name,',') within group(order by user_id) memberNames
                    ,listagg(user_id,',') within group(order by user_id) memberIds
                    FROM JXYJ_JXTD_MEMBER GROUP BY relation_code
                ) m on m.relation_code = v.code
                <where>1=1
                    <if test="isSubmit != null and isSubmit != ''">
                        <choose>
                            <when test="isSubmit == '已提交'">
                                and shenhe_code is not null
                            </when>
                            <when test="isSubmit == '未提交'">
                                and shenhe_code is null
                            </when>
                            <otherwise>
                                and 1>1
                            </otherwise>
                        </choose>
                    </if>
                    <!--<if test="status != null and status != ''">
                        and status = #{status}
                    </if>-->
                    <include refid="queryCondition"/>
                </where>
                ORDER BY is_submit DESC,v.create_date DESC
            </otherwise>
        </choose>
    </select>
    <sql id="queryCondition">
        <if test="userId != null and userId != '' and userId !=999999">
            and v.USER_ID = #{userId}
        </if>
        <if test="userName != null and userName != ''">
            and v.USER_NAME = #{userName}
        </if>
        <if test="teamCode != null and teamCode != ''">
            and v.TEAM_CODE = #{teamCode}
        </if>
        <if test="teamName != null and teamName != ''">
            and v.TEAM_NAME = #{teamName}
        </if>
        <if test="teamLeader != null and teamLeader != ''">
            and v.TEAM_LEADER = #{teamLeader}
        </if>
    </sql>

    <select id="getNotShenHeNum" resultType="int">
        SELECT count(0)
        from V_JXYJ_JXTD_SHENHE v
        LEFT JOIN (SELECT * FROM COMMON_SHENHE_ITEM where USER_ID = #{shenHeUserId}) item on item.relation_code = v.code and item.batch_num = v.batch_num
        left join COMMON_SHENHE_NODE sn on sn.shenhe_code = v.shenhe_code
        left join sys_user_role ur on ur.role_id = sn.role_id
        where item.relation_code is null and ur.user_id = #{shenHeUserId}
    </select>

    <insert id="insert">
          insert into JXYJ_JXTD
          (code,team_code,team_name,create_time,team_leader,team_leader_id,sbs,middle_report,middle_result,final_report,final_result,user_id,user_name,create_date)
          values
          (#{code},#{teamCode},#{teamName},#{createTime},#{teamLeader},#{teamLeaderId},#{sbs},#{middleReport},'未评审',#{finalReport},'未评审',#{userId},#{userName},CURRENT_DATE)
    </insert>

    <update id="update">
        update JXYJ_JXTD
        <set>
            <if test="teamCode != null and teamCode != ''">
                team_code = #{teamCode}
            </if>
            <if test="teamName != null and teamName != ''">
                , team_name = #{teamName}
            </if>
            <if test="createTime != null">
                , create_time = #{createTime}
            </if>
            <if test="teamLeader != null and teamLeader != ''">
                , team_leader = #{teamLeader}
            </if>
            <if test="teamLeaderId !=null and teamLeaderId !=''">
                , team_leader_id = #{teamLeaderId}
            </if>
            <if test="sbs !=null">
                , sbs = #{sbs}
            </if>
            <if test="middleReport !=null and middleReport !=''">
                , middle_report = #{middleReport}
            </if>
            <if test="middleResult !=null and middleResult !=''">
                , middle_result = #{middleResult}
            </if>
            <if test="finalReport !=null and finalReport !=''">
                , final_report = #{finalReport}
            </if>
            <if test="finalResult !=null and finalResult !=''">
                , final_result = #{finalResult}
            </if>
        </set>
        where code = #{code}
    </update>

    <insert id="batchSubimt">
        insert all
        <foreach collection ="jiaoXueTuanDuiList" item="obj" index= "idx">
            into COMMON_SHENHE
            (shenhe_code,relation_code,batch_num,status,user_id,user_name,create_date)
            values
            ( #{obj.shenheCode},#{obj.code},#{obj.batchNum},#{obj.status},#{obj.userId},#{obj.userName},CURRENT_DATE)
        </foreach>
        select 1 from dual
    </insert>

    <select id="getShenheNode" resultType="com.mycode.common.shenhe.domain.ShenHeNode">
        SELECT sn.*
        from V_JXYJ_JXTD_SHENHE j
        LEFT JOIN COMMON_SHENHE_NODE sn ON sn.shenhe_code = j.shenhe_code
        LEFT JOIN sys_user_role ur ON ur.role_id = sn.role_id
        where code = #{relationCode} and ur.user_id = #{userId}
    </select>

    <!-- 验证是否已全部审核
        totalNum 待审核的数量值
        execNum 已审核的数量值
    -->
    <select id="isShenhePass" resultType="int">
        SELECT (case when exec_num = total_num then 1 else 0 end) isPass
        from (
            SELECT v.code,v.batch_num
            ,count(sn.node_code) total_num
            ,count(item.node_code) exec_num
            from V_JXYJ_JXTD_SHENHE v
            left join COMMON_SHENHE_NODE sn on sn.shenhe_code = v.shenhe_code
            left join COMMON_SHENHE_ITEM item on item.relation_code = v.code and item.batch_num = v.batch_num and item.node_code = sn.node_code
            WHERE v.code = #{relationCode} and v.batch_num = #{batchNum}
            GROUP BY v.code,v.batch_num
        )t
    </select>

    <!-- 验证是所有评委是否已全部评审
        totalNum 为拥有教学团队评审角色的人数
        execNum 为评委已评审的数量值
    -->
    <select id="isPingshenPass" resultType="int">
        SELECT (case when exec_num = totalNum then 1 else 0 end) isPass
        from (
            SELECT v.code,v.batch_num
            ,count(ur.user_id) totalNum
            ,count(item.user_id) exec_num
            FROM V_JXYJ_JXTD_SHENHE v
            LEFT JOIN COMMON_SHENHE_NODE sn on sn.SHENHE_CODE = v.SHENHE_CODE
            LEFT JOIN SYS_USER_ROLE ur on ur.role_id = sn.ROLE_ID
            left join COMMON_SHENHE_ITEM item on item.relation_code = v.code and item.batch_num = v.batch_num and item.user_id = ur.user_id
            WHERE v.code = #{relationCode} and v.batch_num = #{batchNum}
            and EXEC_LEVEL = 1 -- 固定值，即“教学团队评审角色执行级别”
            GROUP BY v.code,v.batch_num
        )t
    </select>

    <select id="getPingShenInfo" resultType="com.mycode.jiaoxueyanjiu.jiaoxuetuandui.domain.PingShen">
        SELECT * FROM JXYJ_JXTD_PS
        WHERE RELATION_CODE = #{relationCode} AND BATCH_NUM =  #{batchNum} AND PINGSHEN_TYPE = #{pingshenType}
        <if test="userId !=null and userId !=''">
            AND USER_ID = #{userId}
        </if>
        ORDER BY CREATE_DATE
    </select>

    <insert id="insertPingShenInfo">
        INSERT into JXYJ_JXTD_PS
        (RELATION_CODE,BATCH_NUM,PINGSHEN_TYPE,TEAM_CODE,TEAM_NAME,TEAM_LEADER,TEAM_LEADER_ID
        ,TARGET_TEAM_BUILDING_PLAN,TARGET_TEAM_COMPOSE,TARGET_TEAM_LEADER,TARGET_TEACHING_WORK,TARGET_TEACHING_RESEARCH,TARGET_INNOVATION_AND_ENTREPRE,TARGET_TEACHER_TRAINING,TOTAL_SCORE,PINGSHEN_OPINION
        ,USER_ID,USER_NAME,CREATE_DATE)
        VALUES
        (#{relationCode},#{batchNum},#{pingshenType},#{teamCode},#{teamName},#{teamLeader},#{teamLeaderId }
        ,#{targetTeamBuildingPlan},#{targetTeamCompose},#{targetTeamLeader},#{targetTeachingWork},#{targetTeachingResearch},#{targetInnovationAndEntrepre},#{targetTeacherTraining},#{totalScore},#{pingshenOpinion}
        ,#{userId},#{userName},CURRENT_DATE)
    </insert>

    <delete id="deletePingShenInfo">
        delete from JXYJ_JXTD_PS WHERE RELATION_CODE = #{relationCode} AND BATCH_NUM =  #{batchNum} AND PINGSHEN_TYPE = #{pingshenType} AND USER_ID = #{userId}
    </delete>
</mapper>