<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycode.jiaoxueyanjiu.jiaoxuetuandui.mapper.JiaoXueTuanDuiMapper">

    <select id="getPageList" resultType="com.mycode.jiaoxueyanjiu.jiaoxuetuandui.domain.JiaoXueTuanDui">
        <choose>
            <when test="shenHeUserId !=null and shenHeUserId !='' and isPsAccount == 1"><!-- 审核列表 -->
                select * from (
                    SELECT v.*
                ,(case when item.relation_code is not null then '已审核' else '未审核' end) shenhe_status
                    ,memberIds,memberNames
                    ,(case when ps.relation_code is not null and ps.middleResult = 1 then '已填写' else '未填写' end ) middleResult
                    ,(case when ps.relation_code is not null and ps.finalResult = 1 then '已填写' else '未填写' end ) finalResult
                    from V_JXYJ_JXTD_SHENHE v
                LEFT JOIN (SELECT * FROM COMMON_SHENHE_ITEM where USER_ID = #{shenHeUserId}) item on item.relation_code = v.code and item.batch_num = v.batch_num
                    LEFT JOIN (
                        SELECT relation_code
                        ,listagg(user_name,',') within group(order by user_id) memberNames
                        ,listagg(user_id,',') within group(order by user_id) memberIds
                        FROM JXYJ_JXTD_MEMBER
                        GROUP BY relation_code
                    ) m on m.relation_code = v.code
                    left join (
                        SELECT RELATION_CODE,max(batch_num) batch_num
                        ,max(case when pingshen_type = '中期考核' then 1 else 0 end ) middleResult
                        ,max(case when pingshen_type = '最终考核' then 1 else 0 end ) finalResult
                        from JXYJ_JXTD_PS
                        WHERE USER_ID = #{shenHeUserId}
                        GROUP BY RELATION_CODE
                    ) ps on ps.relation_code = v.code and ps.batch_num = v.batch_num

                  <include refid="queryCondition"/>
                )
                <where>1=1
                    <if test="shenheStatus != null and shenheStatus != ''">
                        and shenhe_status = #{shenheStatus}
                    </if>
                </where>
                ORDER BY shenhe_status DESC
            </when>
            <when test="shenHeUserId !=null and shenHeUserId !=''">
                SELECT v.*
                ,(case when exec_num <![CDATA[ < ]]> total_num then '待审核' when item.relation_code is not null then '已审核' else '未审核' end) shenhe_status
                from V_JXYJ_JXTD_SHENHE v
                LEFT JOIN (SELECT * FROM COMMON_SHENHE_ITEM where USER_ID = #{shenHeUserId}) item on item.relation_code = v.code and item.batch_num = v.batch_num
                LEFT JOIN(
                SELECT v.CODE,v.BATCH_NUM
                ,max(total_num) total_num
                ,count(item.user_id) exec_num
                from V_JXYJ_JXTD_SHENHE v
                left join (
                SELECT shenhe_code,count(ur.user_id)-1 total_num
                from COMMON_SHENHE_NODE sn left join sys_user_role ur on ur.role_id = sn.role_id

                GROUP BY shenhe_code
                ) t on t.shenhe_code = v.shenhe_code
                LEFT JOIN COMMON_SHENHE_ITEM item on item.relation_code = v.code and item.batch_num = v.batch_num
                GROUP BY v.CODE,v.BATCH_NUM
                )t on t.code = v.code and t.batch_num = v.batch_num
                left join COMMON_SHENHE_NODE sn on sn.shenhe_code = v.shenhe_code
                left join sys_user_role ur on ur.role_id = sn.role_id where ur.user_id = #{shenHeUserId}
            </when>
            <otherwise><!-- 提交列表 -->
                SELECT v.*
                ,(case when shenhe_code is not null then '已提交' else '未提交' end ) is_submit
                ,memberIds,memberNames
                from V_JXYJ_JXTD v
                LEFT JOIN (
                    SELECT relation_code
                    ,listagg(user_name,',') within group(order by user_id) memberNames
                    ,listagg(user_id,',') within group(order by user_id) memberIds
                    FROM JXYJ_JXTD_MEMBER GROUP BY relation_code
                ) m on m.relation_code = v.code
                <where>1=1
                    <if test="isSubmit != null and isSubmit != ''">
                        <choose>
                            <when test="isSubmit == '已提交'">
                                and shenhe_code is not null
                            </when>
                            <when test="isSubmit == '未提交'">
                                and shenhe_code is null
                            </when>
                            <otherwise>
                                and 1>1
                            </otherwise>
                        </choose>
                    </if>
                    <!--<if test="status != null and status != ''">
                        and status = #{status}
                    </if>-->
                    <include refid="queryCondition"/>
                </where>
                ORDER BY is_submit DESC,v.create_date DESC
            </otherwise>
        </choose>
    </select>
    <sql id="queryCondition">
        <if test="userId != null and userId != '' and userId !=999999">
            and v.USER_ID = #{userId}
        </if>
        <if test="userName != null and userName != ''">
            and v.USER_NAME = #{userName}
        </if>
        <if test="teamCode != null and teamCode != ''">
            and v.TEAM_CODE = #{teamCode}
        </if>
        <if test="teamName != null and teamName != ''">
            and v.TEAM_NAME = #{teamName}
        </if>
        <if test="teamLeader != null and teamLeader != ''">
            and v.TEAM_LEADER = #{teamLeader}
        </if>
    </sql>

    <select id="getNotShenHeNum" resultType="int">
        SELECT count(0)
        from V_JXYJ_JXTD_SHENHE v
        LEFT JOIN (SELECT * FROM COMMON_SHENHE_ITEM where USER_ID = #{shenHeUserId}) item on item.relation_code = v.code and item.batch_num = v.batch_num
        left join COMMON_SHENHE_NODE sn on sn.shenhe_code = v.shenhe_code
        left join sys_user_role ur on ur.role_id = sn.role_id
        where item.relation_code is null and ur.user_id = #{shenHeUserId}
    </select>

    <insert id="insert">
          insert into JXYJ_JXTD
          (code,team_code,team_name,create_time,team_leader,team_leader_id,sbs,middle_report,middle_result,final_report,final_result,user_id,user_name,create_date)
          values
          (#{code},#{teamCode},#{teamName},#{createTime},#{teamLeader},#{teamLeaderId},#{sbs},#{middleReport},'未审核',#{finalReport},'未审核',#{userId},#{userName},CURRENT_DATE)
    </insert>

    <update id="update">
        update JXYJ_JXTD
        <set>
            <if test="teamCode != null and teamCode != ''">
                team_code = #{teamCode}
            </if>
            <if test="teamName != null and teamName != ''">
                , team_name = #{teamName}
            </if>
            <if test="createTime != null">
                , create_time = #{createTime}
            </if>
            <if test="teamLeader != null and teamLeader != ''">
                , team_leader = #{teamLeader}
            </if>
            <if test="teamLeaderId !=null and teamLeaderId !=''">
                , team_leader_id = #{teamLeaderId}
            </if>
            <if test="sbs !=null">
                , sbs = #{sbs}
            </if>
            <if test="middleReport !=null and middleReport !=''">
                , middle_report = #{middleReport}
            </if>
            <if test="finalReport !=null and finalReport !=''">
                , final_report = #{finalReport}
            </if>
        </set>
        where code = #{code}
    </update>

    <update id="batchSubimt">
        insert all
        <foreach collection ="jiaoXueTuanDuiList" item="obj" index= "idx">
            into COMMON_SHENHE
            (shenhe_code,relation_code,batch_num,status,user_id,user_name,create_date)
            values
            ( #{obj.shenheCode},#{obj.code},#{obj.batchNum},#{obj.status},#{obj.userId},#{obj.userName},CURRENT_DATE)
        </foreach>
        select 1 from dual
    </update>

    <select id="getShenheNode" resultType="com.mycode.common.shenhe.domain.ShenHeNode">
        SELECT sn.*
        from V_JXYJ_JXTD_SHENHE j
        LEFT JOIN COMMON_SHENHE_NODE sn ON sn.shenhe_code = j.shenhe_code
        LEFT JOIN sys_user_role ur ON ur.role_id = sn.role_id
        where code = #{relationCode} and ur.user_id = #{userId}
    </select>

    <select id="isShenhePass" resultType="int">
        SELECT (case when total_num = exec_num then 1 else 0 end) isPass
        from (
            SELECT j.code,j.batch_num
            ,count(sn.node_code) total_num
            ,count(item.node_code) exec_num
            from V_JXYJ_JXTD_SHENHE j
            left join COMMON_SHENHE_NODE sn on sn.shenhe_code = j.shenhe_code
            left join COMMON_SHENHE_ITEM item on item.relation_code = j.code and item.batch_num = j.batch_num and item.node_code = sn.node_code
            WHERE j.code = #{relationCode} and j.batch_num = #{batchNum}
            GROUP BY j.code,j.batch_num
        )t
    </select>
</mapper>