<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycode.jiaoxueyanjiu.jiaogaixiangmu.mapper.JiaoGaiXiangMuMapper">

    <select id="getPageList" resultType="com.mycode.jiaoxueyanjiu.jiaogaixiangmu.domain.JiaoGaiXiangMu">
        <choose>
            <when test="shenHeUserId !=null and shenHeUserId !='' and isZjshAccount == 1"><!-- 校外专家审核列表 -->
                SELECT j.*
                ,(case when item2.xm_code is not null then '已审核' else '未审核' end) shenhe_status
                from  v_JXYJ_JGXM_SHENHE j
                left join COMMON_SHENHE_ITEM item on item.relation_code = j.code and item.batch_num = j.batch_num
                LEFT JOIN JXYJ_JGXM_ZJSH_ITEM item2 on item2.xm_code = j.code and item2.batch_num = j.batch_num and item2.user_id = #{shenHeUserId}
                where j.STATUS = '审核中' and item.shenhe_type is not null
                <if test="shenheStatus != null and shenheStatus != ''">
                    <choose>
                        <when test="shenheStatus == '已审核'">
                            and item2.xm_code is not null
                        </when>
                        <when test="shenheStatus == '未审核'">
                            and item2.xm_code is null
                        </when>
                    </choose>
                </if>
                <include refid="queryCondition"/>
            </when>
            <when test="shenHeUserId !=null and shenHeUserId !=''"><!-- 审核列表 -->
                SELECT j.*
                ,(case when  ur.role_id = is_back then '退回' when exec_num >= exec_level then '已审核' else '未审核' end ) shenhe_status
                ,(case when  ur.role_id = is_back then '退回' when exec_num >= exec_level then '已审核' else '未审核' end ) shenhe_status_first
                ,(case when  ur.role_id = is_back then '退回'
                      when  shenhe_type = '初审' and exec_num >= exec_level then '未审核'
                      when  shenhe_type = '终审' and exec_num >= exec_level then '已审核' else '待审核' end ) shenhe_status_final
                from (
                    SELECT j.code,j.batch_num
                    ,count(sn.node_code) total_num
                    ,count(item.node_code) exec_num
                    ,max(case when item.status = '退回' then sn.role_id else 0 end ) is_back
                    ,max(case when 1=1 then item.SHENHE_TYPE else item.SHENHE_TYPE end) shenhe_type
                    from v_JXYJ_JGXM_SHENHE j
                    left join COMMON_SHENHE_NODE sn on sn.shenhe_code = j.shenhe_code
                    left join COMMON_SHENHE_ITEM item on item.relation_code = j.code and item.batch_num = j.batch_num and item.node_code = sn.node_code
                    GROUP BY j.code,j.batch_num
                )t
                left join v_JXYJ_JGXM_SHENHE j on j.code = t.code and j.batch_num = t.batch_num
                left join COMMON_SHENHE_NODE sn on sn.shenhe_code = j.shenhe_code
                left join sys_user_role ur on ur.role_id = sn.role_id
                <where>1=1
                    and exec_num >= exec_level-1
                    AND 1 != (CASE WHEN sn.exec_level > t.exec_num AND is_back > 0 THEN 1 ELSE 0 END)
                    and ur.user_id = #{shenHeUserId}
                    <if test="shenheStatus != null and shenheStatus != ''">
                        <choose>
                            <when test="shenheStatus == '已审核'">
                                and exec_num >= exec_level
                            </when>
                            <when test="shenheStatus == '未审核'">
                                and exec_level > exec_num
                            </when>
                            <when test="shenheStatus == '退回'">
                                and ur.role_id = is_back
                            </when>
                        </choose>
                    </if>
                    <if test="shenheStatusFirst != null and shenheStatusFirst != ''">
                        <choose>
                            <when test="shenheStatusFirst == '已审核'">
                                and exec_num >= exec_level
                            </when>
                            <when test="shenheStatusFirst == '未审核'">
                                and exec_level > exec_num
                            </when>
                            <when test="shenheStatusFirst == '退回'">
                                and ur.role_id = is_back
                            </when>
                        </choose>
                    </if>
                    <if test="shenheStatusFinal != null and shenheStatusFinal != ''">
                        <choose>
                            <when test="shenheStatusFinal == '已审核'">
                                and shenhe_type = '终审' and exec_num >= exec_level
                            </when>
                            <when test="shenheStatusFinal == '未审核'">
                                and shenhe_type = '初审' and exec_num >= exec_level
                            </when>
                            <when test="shenheStatusFinal == '待审核'">
                                and shenhe_type is null
                            </when>
                            <when test="shenheStatusFinal == '退回'">
                                and ur.role_id = is_back
                            </when>
                        </choose>
                    </if>
                    <include refid="queryCondition"/>
                </where>
                ORDER BY shenhe_status DESC
            </when>
            <otherwise><!-- 提交列表 -->
                SELECT j.*
                ,(case when shenhe_code is not null then '已提交' else '未提交' end ) is_submit
                from V_JXYJ_JGXM j
                <where>1=1
                    <if test="isSubmit != null and isSubmit != ''">
                        <choose>
                            <when test="isSubmit == '已提交'">
                                and shenhe_code is not null
                            </when>
                            <when test="isSubmit == '未提交'">
                                and shenhe_code is null
                            </when>
                            <otherwise>
                                and 1>1
                            </otherwise>
                        </choose>
                    </if>
                    <if test="status != null and status != ''">
                        and status = #{status}
                    </if>
                    <include refid="queryCondition"/>
                </where>
                ORDER BY is_submit DESC,create_date DESC
            </otherwise>
        </choose>
    </select>
    <sql id="queryCondition">
        <if test="userId != null and userId != '' and userId !=999999">
            and j.user_id = #{userId}
        </if>
        <if test="userName != null and userName != ''">
            and j.user_name = #{userName}
        </if>
        <if test="xmName != null and xmName != ''">
            and xm_name = #{xmName}
        </if>
        <if test="xmType != null and xmType != ''">
            and xm_type = #{xmType}
        </if>
        <if test="leader != null and leader != ''">
            and leader = #{leader}
        </if>
    </sql>

    <select id="getNotShenHeNum" resultType="int">
        <if test="isZjshAccount !=null"><!-- 此处不能做isZjshAccount !=''的判断，isZjshAccount 值为0 时会被识别为空字符串''-->
            <choose>
                <when test="isZjshAccount == 1">
                    SELECT count(0) from  v_JXYJ_JGXM_SHENHE j
                    left join COMMON_SHENHE_ITEM item on item.relation_code = j.code and item.batch_num = j.batch_num
                    LEFT JOIN JXYJ_JGXM_ZJSH_ITEM item2 on item2.xm_code = j.code and item2.batch_num = j.batch_num
                    where j.STATUS = '审核中' and item.shenhe_type is not null and item2.xm_code is null
                </when>
                <otherwise>
                    SELECT count(0) from (
                        SELECT j.code,j.batch_num
                        ,count(sn.node_code) total_num
                        ,count(item.node_code) exec_num
                        ,max(case when item.status = '退回' then sn.role_id else 0 end ) is_back
                        from v_JXYJ_JGXM_SHENHE j
                        left join COMMON_SHENHE_NODE sn on sn.shenhe_code = j.shenhe_code
                        left join COMMON_SHENHE_ITEM item on item.relation_code = j.code and item.batch_num = j.batch_num and item.node_code = sn.node_code
                        GROUP BY j.code,j.batch_num
                    )t
                    left join v_JXYJ_JGXM_SHENHE j on j.code = t.code and j.batch_num = t.batch_num
                    left join COMMON_SHENHE_NODE sn on sn.shenhe_code = j.shenhe_code
                    left join sys_user_role ur on ur.role_id = sn.role_id
                    where 1=1
                    and exec_num >= exec_level-1
                    AND 1 != (CASE WHEN sn.exec_level > t.exec_num AND is_back > 0 THEN 1 ELSE 0 END)
                    AND exec_level > exec_num
                    and ur.user_id = #{shenHeUserId}
                </otherwise>
            </choose>
        </if>
    </select>

    <insert id="insert">
          insert into JXYJ_JGXM
          (code,xm_name,xm_type,leader,leader_id,title,college_or_dept,major,main_teach_work,main_teach_achievement
          ,current_and_background,question_and_target,expect_and_result,plan_and_process,user_id,user_name,create_date)
          values
          (#{code},#{xmName},#{xmType},#{leader},#{leaderId},#{title},#{collegeOrDept},#{major},#{mainTeachWork,jdbcType=VARCHAR},#{mainTeachAchievement,jdbcType=VARCHAR}
          ,#{currentAndBackground,jdbcType=VARCHAR},#{questionAndTarget,jdbcType=VARCHAR},#{expectAndResult,jdbcType=VARCHAR},#{planAndProcess,jdbcType=VARCHAR}
          ,#{userId},#{userName},sysdate)
    </insert>

    <update id="update">
        update JXYJ_JGXM
        <set>
            <if test="xmName != null and xmName != ''">
                xm_name = #{xmName}
            </if>
            <if test="xmType != null and xmType != ''">
                , xm_type = #{xmType}
            </if>
            <if test="leader != null and leader != ''">
                , leader = #{leader}
            </if>
            <if test="leaderId != null and leaderId != ''">
                , leader_id = #{leaderId}
            </if>
            <if test="title !=null and title !=''">
                , title = #{title}
            </if>
            <if test="collegeOrDept !=null and collegeOrDept !=''">
                , college_or_dept = #{collegeOrDept}
            </if>
            <if test="major !=null and major !=''">
                , major = #{major}
            </if>
            <if test="mainTeachWork !=null and mainTeachWork !=''">
                , main_teach_work = #{mainTeachWork}
            </if>
            <if test="mainTeachAchievement !=null and mainTeachAchievement !=''">
                , main_teach_achievement = #{mainTeachAchievement}
            </if>
            <if test="currentAndBackground !=null and currentAndBackground !=''">
                , current_and_background = #{currentAndBackground}
            </if>
            <if test="questionAndTarget !=null and questionAndTarget !=''">
                , question_and_target = #{questionAndTarget}
            </if>
            <if test="expectAndResult !=null and expectAndResult !=''">
                , expect_and_result = #{expectAndResult}
            </if>
            <if test="planAndProcess !=null and planAndProcess !=''">
                , plan_and_process = #{planAndProcess}
            </if>
        </set>
        where code = #{code}
    </update>

    <delete id="delete">
        delete from JXYJ_JGXM where code = #{code}
    </delete>

    <update id="batchSubimt">
        insert all
        <foreach collection ="jiaoGaiXiangMuList" item="obj" index= "idx">
            into COMMON_SHENHE
            (shenhe_code,relation_code,batch_num,status,user_id,user_name,create_date)
            values
            ( #{obj.shenheCode},#{obj.code},#{obj.batchNum},#{obj.status},#{obj.userId},#{obj.userName},sysdate)
        </foreach>
        select 1 from dual
    </update>

    <select id="getShenheNode" resultType="com.mycode.common.shenhe.domain.ShenHeNode">
        SELECT sn.*
        from v_JXYJ_JGXM_SHENHE j
        LEFT JOIN COMMON_SHENHE_NODE sn ON sn.shenhe_code = j.shenhe_code
        LEFT JOIN sys_user_role ur ON ur.role_id = sn.role_id
        where code = #{relationCode} and ur.user_id = #{userId}
    </select>

    <select id="isShenhePass" resultType="int">
        SELECT (case when total_num = exec_num then 1 else 0 end) isPass
        from (
            SELECT j.code,j.batch_num
            ,count(sn.node_code) total_num
            ,count(item.node_code) exec_num
            from v_JXYJ_JGXM_SHENHE j
            left join COMMON_SHENHE_NODE sn on sn.shenhe_code = j.shenhe_code
            left join COMMON_SHENHE_ITEM item on item.relation_code = j.code and item.batch_num = j.batch_num and item.node_code = sn.node_code
            WHERE j.code = #{relationCode} and j.batch_num = #{batchNum}
            GROUP BY j.code,j.batch_num
        )t
    </select>

    <insert id="toZjShenhe">
        INSERT INTO JXYJ_JGXM_ZJSH_ITEM
        (XM_CODE,BATCH_NUM,STATUS,OPINION,USER_ID,USER_NAME,CREATE_DATE)
        VALUES
        (#{relationCode},#{batchNum},#{status},#{opinion},#{userId},#{userName},sysdate)
    </insert>

    <select id="getMemberList" resultType="com.mycode.jiaoxueyanjiu.jiaogaixiangmu.domain.Member">
        SELECT * FROM JXYJ_JGXM_MEMBER WHERE XM_CODE = #{xmCode}
    </select>
    <insert id="insertMember">
        insert into JXYJ_JGXM_MEMBER (XM_CODE,USER_ID,USER_NAME,TASK)
        values (#{xmCode},#{userId},#{userName},#{task})
    </insert>
    <delete id="deleteMember">
        delete from JXYJ_JGXM_MEMBER
        <where>1=1
            <if test="xmCode !=null and xmCode !='' and userId !=null and userId !=''">
                and XM_CODE = #{xmCode}
                and USER_ID = #{userId}
            </if>
            <if test="xmCode !=null and xmCode !=''">
                and XM_CODE = #{xmCode}
            </if>
        </where>
    </delete>

    <select id="getFundBudgetList" resultType="com.mycode.jiaoxueyanjiu.jiaogaixiangmu.domain.FundBudget">
        SELECT * FROM JXYJ_JGXM_FUND_BUDGET WHERE XM_CODE = #{xmCode}
    </select>

    <insert id="insertFundBudget">
        insert into JXYJ_JGXM_FUND_BUDGET (XM_CODE,SUBJECT,BUDGET_AMOUNT)
        values (#{xmCode},#{subject},#{budgetAmount})
    </insert>

    <delete id="deleteFundBudget">
        delete from JXYJ_JGXM_FUND_BUDGET
        <where>1=1
            <if test="xmCode !=null and xmCode !='' and subject !=null and subject !=''">
                and XM_CODE = #{xmCode}
                and SUBJECT = #{subject}
            </if>
            <if test="xmCode !=null and xmCode !=''">
                and XM_CODE = #{xmCode}
            </if>
        </where>
    </delete>
</mapper>