<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycode.jiaoxueyanjiu.jixujiaoyu.mapper.JiXuJiaoYuMapper">

    <select id="getNotShenHeNumByAuth" resultType="java.lang.Integer">
        SELECT count(0)
        from (
            SELECT j.code,j.batch_num
            ,count(sn.node_code) total_num
            ,count(item.node_code) exec_num
            ,max(case when item.status = '未通过' or item.status = '退回' then 1 else 0 end ) state
            from (

                SELECT j.*
                ,sh.shenhe_code,sh.batch_num,sh.status
                from (
                    SELECT j.code,MAX(BATCH_NUM) BATCH_NUM
                    from JXYJ_JXJY j
                    LEFT JOIN COMMON_SHENHE sh on sh.relation_code = j.code
                    LEFT JOIN DATA_TEACHER dt on DT.code = j.user_id
                    where sh.relation_code is not null
                    <if test="maxAuthLevel != null and maxAuthLevel != '' and maxAuthLevel == 6">
                        and DT.COLLEGE_CODE = #{collegeCode}
                    </if>
                    GROUP BY j.code
                ) t
                LEFT JOIN JXYJ_JXJY j on j.code = t.code
                LEFT JOIN COMMON_SHENHE sh on sh.RELATION_CODE = t.code and sh.BATCH_NUM = t.BATCH_NUM

            ) j
            left join COMMON_SHENHE_NODE sn on sn.shenhe_code = j.shenhe_code
            left join COMMON_SHENHE_ITEM item on item.relation_code = j.code and item.batch_num = j.batch_num and item.node_code = sn.node_code
            group by j.code,j.batch_num
        )t
        left join V_JXYJ_JXJY_SHENHE j on j.code = t.code and j.batch_num = t.batch_num
        left join COMMON_SHENHE_NODE sn on sn.shenhe_code = j.shenhe_code
        left join sys_user_role ur on ur.role_id = sn.role_id
        where 1=1
        and exec_num >= exec_level-1 -- 只显示上一级‘已审核’的数据
        and 1 > (case when sn.exec_level > t.exec_num and state > 0 then 1 else 0 end) -- 排除上一级审核状态为“未通过”，“退回”的数据
        and exec_level > exec_num
        and ur.user_id = #{shenHeUserId}
    </select>

    <select id="getPageList" resultType="com.mycode.jiaoxueyanjiu.jixujiaoyu.domian.JiXuJiaoYu">
        <choose>
            <when test="shenHeUserId != null and shenHeUserId != ''"><!-- 审核列表 -->
                select j.*
                ,(case when exec_num >= exec_level then '已审核' else '未审核' end ) shenhe_status
                from (
                    select j.code,j.batch_num
                    ,count(sn.node_code) total_num
                    ,count(item.node_code) exec_num
                    ,max(case when j.status = '未通过' or item.status = '退回' then 1 else 0 end ) state
                    from (

                        SELECT j.*
                        ,sh.shenhe_code,sh.batch_num,sh.status
                        from (
                            SELECT j.code,MAX(BATCH_NUM) BATCH_NUM
                            from JXYJ_JXJY j
                            LEFT JOIN COMMON_SHENHE sh on sh.relation_code = j.code
                            LEFT JOIN DATA_TEACHER dt on DT.code = j.user_id
                            where sh.relation_code is not null
                            <if test="maxAuthLevel != null and maxAuthLevel != '' and maxAuthLevel == 6">
                                and DT.COLLEGE_CODE = #{collegeCode}
                            </if>
                            GROUP BY j.code
                        ) t
                        LEFT JOIN JXYJ_JXJY j on j.code = t.code
                        LEFT JOIN COMMON_SHENHE sh on sh.RELATION_CODE = t.code and sh.BATCH_NUM = t.BATCH_NUM

                    ) j
                    left join common_shenhe_node sn on sn.shenhe_code = j.shenhe_code
                    left join common_shenhe_item item on item.relation_code = j.code and item.batch_num = j.batch_num and item.node_code = sn.node_code
                    group by j.code,j.batch_num
                )t
                left join v_jxyj_jxjy_shenhe j on j.code = t.code and j.batch_num = t.batch_num
                left join common_shenhe_node sn on sn.shenhe_code = j.shenhe_code
                left join sys_user_role ur on ur.role_id = sn.role_id
                <where>1=1
                    and exec_num >= exec_level-1 -- 只显示上一级‘已审核’的数据
                    and 1 > (case when sn.exec_level > t.exec_num and state > 0 then 1 else 0 end) -- 排除上一级审核状态为“未通过”，“退回”的数据
                    and ur.user_id = #{shenHeUserId}
                    <if test="shenheStatus != null and shenheStatus != ''">
                        <choose>
                            <when test="shenheStatus == '已审核'">
                                and exec_num >= exec_level
                            </when>
                            <when test="shenheStatus == '未审核'">
                                and exec_level > exec_num
                            </when>
                        </choose>
                    </if>
                    <include refid="queryCondition"/>
                </where>
                order by shenhe_status desc
            </when>
            <otherwise><!-- 提交列表 -->
                select j.*
                from v_jxyj_jxjy j
                <where>1=1
                    <choose>
                        <when test="status != null and status != '' and status == '待审核'">
                            and shenhe_code is null
                        </when>
                        <when test="status != null and status != ''">
                            and status = #{status}
                        </when>
                    </choose>
                    <include refid="queryCondition"/>
                </where>
            </otherwise>
        </choose>
    </select>

    <sql id="queryCondition">
        <if test="userId != null and userId != '' and userId !=111">
            and j.user_id = #{userId}
        </if>
        <if test="userName != null and userName != ''">
            and j.user_name = #{userName}
        </if>
        <if test="userUnit != null and userUnit != ''">
            and j.user_unit = #{userUnit}
        </if>
        <if test="peixunName != null and peixunName != ''">
            and peixun_name like concat(concat('%',#{peixunName}),'%')
        </if>
    </sql>

    <insert id="insert">
          insert into JXYJ_JXJY
          (code,peixun_name,peixun_style,peixun_start_time,peixun_end_time,peixun_class_hour,peixun_content,peixun_address,peixun_dept,user_id,user_name,create_date)
          values
          (#{code},#{peixunName},#{peixunStyle},#{peixunStartTime},#{peixunEndTime},#{peixunClassHour},#{peixunContent},#{peixunAddress},#{peixunDept},#{userId},#{userName},CURRENT_DATE)
    </insert>

    <update id="update">
        update JXYJ_JXJY
        <set>
            <if test="peixunName != null and peixunName != ''">
                peixun_name = #{peixunName}
            </if>
            <if test="peixunStyle != null and peixunStyle != ''">
                , peixun_style = #{peixunStyle}
            </if>
            <if test="peixunStartTime != null"><!-- 如果拿传入的时间类型参数与空字符串‘‘进行对比判断则会引发异常.，所以应该去掉该判断, 只保留非空判断就正常了 -->
                , peixun_start_time = #{peixunStartTime}
            </if>
            <if test="peixunEndTime != null">
                , peixun_end_time = #{peixunEndTime}
            </if>
            <if test="peixunClassHour != null and peixunClassHour != ''">
                , peixun_class_hour = #{peixunClassHour}
            </if>
            <if test="peixunContent != null and peixunContent != ''">
                , peixun_content = #{peixunContent}
            </if>
            <if test="peixunAddress != null and peixunAddress != ''">
                , peixun_address = #{peixunAddress}
            </if>
            <if test="peixunDept != null and peixunDept != ''">
                , peixun_dept = #{peixunDept}
            </if>
        </set>
        where code = #{code}
    </update>

    <delete id="delete">
        delete from JXYJ_JXJY where code = #{code}
    </delete>

</mapper>