<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycode.optionSet.mapper.OptionMapper">

    <select id="getOptionPageList" resultType="java.util.Map">
        SELECT * FROM COMMON_OPTION_SET_OPTION order by CREATE_DATE desc
    </select>

    <select id="getOption" resultType="java.util.Map">
        SELECT * FROM COMMON_OPTION_SET_OPTION WHERE NAME = #{name}
    </select>

    <insert id="insertOption">
        INSERT INTO COMMON_OPTION_SET_OPTION (CODE, NAME, CREATE_DATE) VALUES (#{code},#{name},CURRENT_DATE)
    </insert>

    <update id="updateOption">
        UPDATE COMMON_OPTION_SET_OPTION SET NAME = #{name} WHERE CODE = #{code}
    </update>

    <delete id="deleteOption">
        begin
        DELETE FROM COMMON_OPTION_SET_OPTION where CODE = #{code};
        DELETE FROM COMMON_OPTION_SET where OPTION_CODE = #{code}; <!-- 根据选项编号删除已关联的数据 -->
        end;
    </delete>
</mapper>